# ................................
#  GeoNature-atlas
#  PostgreSQL database settings
# ................................

# Effacer la base de données existante lors de l'installation
drop_apps_db=false

# Host de la base de données de l'application
db_host=localhost

# Port pour base de données de l'application
db_port=5432

# Nom de la base de données de l'application
db_name=geonatureatlas

# Nom de l'utilisateur BDD, utilisé par l'application atlas, lecteur des vues matérialisées uniquement
user_pg=geonatatlas

# Password de l'utilisateur BDD, utilisé par l'application, lecteur des vues matérialisées uniquement
user_pg_pass=monpassachanger

# Nom du propriétaire de la BDD atlas, utilisé pour créer et mettre à jour la BDD
owner_atlas=geonatadmin

# Password du propriétaire de la BDD
owner_atlas_pass=monpassachanger

#################################################
##### Configuration de GN-atlas avec un GN ######
#################################################

# GeoNature-atlas est-il connecté à une BDD GeoNature ? Si oui, renseignez true
geonature_source=true

# Type de zonage a utiliser dans l'application pour générer les fiches territoires (Pour optimiser et ne pas utiliser toutes les géométries présentes dans ref_geo)
# voir ref_geo.bib_areas_types
type_code="COM,EPCI"


################################################
##### CONNEXION A LA BDD GEONATURE SOURCE ######
################################################

# Paramètres de connexion à la BDD source GeoNature et/ou Taxhub en foreign data wrapper
# Si vous n'utilisez pas GeoNature, pour les données d'observation, vous pouvez vous inspirer du fichier data/atlas_geonature.sql
# pour vous connecter à une autre BDD mère

# Host de la BDD GeoNature source
db_source_host=localhost

# Port de la BDD GeoNature source
db_source_port=5432

# Nom de la BDD GeoNature source
db_source_name=geonature2db

# Nombre d'éléments à récupérer par lot en Foreign Data Wrapper (défaut 100)
# Note : utiliser 1000000 pour une table synthese avec plusieurs millions d'observations.
db_source_fetch_size=100

# Nom de l'utilisateur atlas dans la BDD GeoNature source (lecture seule)
atlas_source_user=geonatatlas

# Pass de l'utilisateur atlas dans la BDD GeoNature source (lecture seule)
atlas_source_pass=monpassachanger

#############################
### Données GEOGRAPHIQUES ###
#############################

########### Si ref_geo = true ############

# Voir la colonne type_code de la table ref_geo.bib_areas_type
# Indiquer le code des entités géographiques du ref_geo qui correspond aux limites de votre territoire
# Les données doivent préalablement être présentes dans le ref_geo
type_territoire="PEC"


# Altitudes
# lister les valeurs des classes d'altitudes
# si non spécifié les valeurs par défaut seront (0 500 1000 1500 2000 2500 3000 3500 4000)
altitudes=(0 500 1000 1500 2000 2500 3000 3500 4000)

############################
### Données TAXONOMIQUES ###
############################

#### Liste des codes des types des attributs décrivant les taxons
# Les codes correspondent aux valeurs du champs `taxonomie.bib_attributs.nom_attribut`.
#Ces attributs sont affichés dans le bloc de droite de la fiche espèce (descriptions, commentaire etc...)
## !! si changement: modifier également dans main/configuration/config.py
# Les codes doivent être séparé par des virgules, sans espaces et placés entre guillemets simples.
taxhub_displayed_attr="'atlas_description','atlas_commentaire','atlas_milieu','atlas_chorologie'"

# Paramètre pour la vue atlas.vm_taxons_plus_observes
# Especes les plus observées sur la periode 'moins X jour, plus X jours par rapport à la date du jour, toutes années confondues'
# 15 jours par défaut
time=15

##################################################
########## Paramatre administrateur avancé #######
##################################################

# Ne modifier que si vous savez ce que vous faites


#####################
### Gunicorn settings
#####################

gun_num_workers=4
gun_host=0.0.0.0
gun_port=8080
gun_timeout=60

####################
### Python settings
####################

venv_dir=venv
# L'atlas est compatible avec Python 3, préferez donc l'utilisation de Python 3.X
python_executable=/usr/bin/python3
