#+-------------------------------------------------------------------------------------------------+
#  GeoNature-atlas : application de visualisation cartographique des données naturalistes
#  Paramètres de configuration des scripts d'installation de l'application.
#+-------------------------------------------------------------------------------------------------+

#+-------------------------------------------------------------------------------------------------+
# Base de données PostgreSQL/PostGIS
#+-------------------------------------------------------------------------------------------------+

# Effacer la base de données existante lors de l'installation
drop_apps_db=false

# Host de la base de données de l'application
db_host=localhost

# Port pour base de données de l'application
db_port=5432

# Nom de la base de données de l'application
db_name=geonatureatlas

# Nom de l'utilisateur BDD, utilisé par l'application atlas, lecteur des vues matérialisées uniquement
user_pg=geonatatlas

# Password de l'utilisateur BDD, utilisé par l'application, lecteur des vues matérialisées uniquement
user_pg_pass=monpassachanger

# Nom du propriétaire de la BDD atlas, utilisé pour créer et mettre à jour la BDD
owner_atlas=geonatadmin

# Password du propriétaire de la BDD
owner_atlas_pass=monpassachanger

# GeoNature-atlas doit-il avoir sa propre base de donnée et être connecté
# à une BDD GeoNature externe ? Si oui, renseignez true.
# Cela créera des tables en Foreign Data Wrapper (FDW) dans la BDD atlas.
geonature_source=true


#+-------------------------------------------------------------------------------------------------+
# Connexion à la BDD GeoNature source
#+-------------------------------------------------------------------------------------------------+

# 🗒 Paramètres de connexion à la BDD source GeoNature en Foreign Data Wrapper.
# Si vous n'utilisez pas GeoNature, pour les données d'observation, vous pouvez vous inspirer
# du fichier data/atlas_geonature.sql pour vous connecter à une autre BDD mère.

# Host de la BDD GeoNature source
db_source_host=localhost

# Port de la BDD GeoNature source
db_source_port=5432

# Nom de la BDD GeoNature source
db_source_name=geonature2db

# Nombre d'éléments à récupérer par lot en Foreign Data Wrapper (défaut 100)
# 🗒 Note : utiliser 1000000 pour une table synthese avec plusieurs millions d'observations.
db_source_fetch_size=100

# Nom de l'utilisateur atlas dans la BDD GeoNature source (lecture seule)
atlas_source_user=geonatatlas

# Pass de l'utilisateur atlas dans la BDD GeoNature source (lecture seule)
atlas_source_pass=monpassachanger


#+-------------------------------------------------------------------------------------------------+
# Paramètres des données géographiques
#+-------------------------------------------------------------------------------------------------+

# 🗒 Voir la colonne "type_code" de la table "ref_geo.bib_areas_type" pour
# tous les codes de type de zone geographique renseignés ci-dessous


# Type de zonage à utiliser dans l'application pour générer les fiches territoires.
# (Pour optimiser et ne pas utiliser toutes les géométries présentes dans ref_geo).
# 🗒 Voir la colonne "type_code" de la table "ref_geo.bib_areas_type".
# ATTENTION : ne pas mettre d'espace entre les valeurs
type_code="COM,EPCI"

# Type de zonage à utiliser pour les observations non sensibles.
# Utiliser pour agrégger les observations dans les mailles pour un affichage
# synthètique dans la fiche espèce.
# 🗒 Voir la colonne "type_code" de la table "ref_geo.bib_areas_type".
type_maille="M5"

# Altitudes : lister les valeurs des classes d'altitudes.
# si non spécifié les valeurs par défaut seront (0 500 1000 1500 2000 2500 3000 3500 4000)
altitudes=(0 500 1000 1500 2000 2500 3000 3500 4000)

#+-------------------------------------------------------------------------------------------------+
# Paramètres des données taxonomiques
#+-------------------------------------------------------------------------------------------------+

# Especes les plus observées sur la periode 'moins X jour, plus X jours par rapport
# à la date du jour, toutes années confondues'.
# Paramètre utilisé pour la vue "atlas.vm_taxons_plus_observes".
# Unité : en jours.
# Par défaut : 15 jours.
time=15


#+-------------------------------------------------------------------------------------------------+
# Paramètres administrateur avancés ( ⚠ ne modifier que si vous savez ce que vous faites !)
#+-------------------------------------------------------------------------------------------------+

# Parmètres Gunicorn
gun_num_workers=4
gun_host=0.0.0.0
gun_port=8080
gun_timeout=60

# Paramètres Python
# Nom du dossier de l'environnement virtuel Python
venv_dir=venv