#+-------------------------------------------------------------------------------------------------+
#  GeoNature-atlas : application de visualisation cartographique des données naturalistes
#  Paramètres de configuration des scripts d'installation de l'application.
#+-------------------------------------------------------------------------------------------------+

#+-------------------------------------------------------------------------------------------------+
# Base de données PostgreSQL/PostGIS
#+-------------------------------------------------------------------------------------------------+

# Host de la base de données de l'application
db_host=localhost

# Port pour la base de données de l'application
db_port=5432

# Nom de la base de données de l'application
db_name=geonatureatlas

# Nom de l'utilisateur BDD, utilisé par l'application atlas, lecteur des vues matérialisées uniquement
user_pg=geonatatlas

# Password de l'utilisateur BDD, utilisé par l'application, lecteur des vues matérialisées uniquement
user_pg_pass=monpassachanger

# Nom du propriétaire de la BDD atlas, utilisé pour créer et mettre à jour la BDD
owner_atlas=geonatadmin

# Password du propriétaire de la BDD
owner_atlas_pass=monpassachanger

# GeoNature-atlas doit-il être connecté à une BDD GeoNature externe ? Si oui, renseignez true.
# Cela créera des tables en Foreign Data Wrapper (FDW) dans la BDD de GeoNature-atlas.
geonature_source=true

# Table ou vue où sont stockées les données dans la BDD GeoNature
# Par défaut ce sont toutes les observations la table `gn_synthese.synthese` qui sont récupérées
# Il est possible de fournir une vue filtrée des données qu'on souhaite afficher dans l'atlas
# La vue doit alors être dans le schéma `gn_synthese`. Par ex : `gn_synthese.v_synthese_atlas_custom`
observation_data_source=gn_synthese.synthese

#+-------------------------------------------------------------------------------------------------+
# Connexion à la BDD GeoNature source
#+-------------------------------------------------------------------------------------------------+

# 🗒 Paramètres de connexion à la BDD source GeoNature en Foreign Data Wrapper.

# Host de la BDD GeoNature source
# Dans un contexte docker, si la BDD est sur le même serveur que l'hôte et hors docker, rechercher son IP via `docker network inspect bridge | grep Gateway`
db_source_host=localhost

# Port de la BDD GeoNature source
db_source_port=5432

# Nom de la BDD GeoNature source
db_source_name=geonature2db

# Nombre d'éléments à récupérer par lot en Foreign Data Wrapper (défaut 100)
# 🗒 Note : utiliser 1000000 pour une table synthese avec plusieurs millions d'observations.
db_source_fetch_size=100

# Nom de l'utilisateur atlas dans la BDD GeoNature source (lecture seule)
atlas_source_user=geonatatlas

# Pass de l'utilisateur atlas dans la BDD GeoNature source (lecture seule)
atlas_source_pass=monpassachanger


#+-------------------------------------------------------------------------------------------------+
# Paramètres des données géographiques
#+-------------------------------------------------------------------------------------------------+

# 🗒 Voir la colonne "type_code" de la table "ref_geo.bib_areas_type" pour
# tous les codes de type de zone geographique renseignés ci-dessous

# Types de zonage à utiliser dans l'application pour générer des fiches territoires.
# 🗒 Voir la colonne "type_code" de la table "ref_geo.bib_areas_type".
# ATTENTION : ne pas mettre d'espace entre les valeurs
type_code="COM"
#type_code="COM,EPCI"

# Type de zonage à utiliser pour les observations non sensibles.
# Utilisé pour agréger les observations non sensibles dans des mailles.
# 🗒 Voir la colonne "type_code" de la table "ref_geo.bib_areas_type".
type_maille="M5"

# Altitudes : lister les valeurs des classes d'altitudes.
# Si non spécifié, les valeurs par défaut seront (0 500 1000 1500 2000 2500 3000 3500 4000)
altitudes=(0 500 1000 1500 2000 2500 3000 3500 4000)

#+-------------------------------------------------------------------------------------------------+
# Paramètres des données taxonomiques
#+-------------------------------------------------------------------------------------------------+

# Especes les plus observées sur la periode 'moins X jour, plus X jours par rapport
# à la date du jour, toutes années confondues'.
# Paramètre utilisé pour la vue "atlas.vm_taxons_plus_observes".
# Unité : en jours.
# Par défaut : 15 jours.
time=15

#+-------------------------------------------------------------------------------------------------+
# CONFIGURATION DOCKER
#+-------------------------------------------------------------------------------------------------+

GEONATURE_ATLAS_DOCKER_IMAGE="ghcr.io/pnx-si/geonature-atlas:latest"

# Chemin vers le fichier de config (config.py)
# ATLAS_SETTINGS
# Répertoire des fichiers static
# ATLAS_STATIC_FOLDER
# Répertoire des templates
# ATLAS_TEMPLATE_FOLDER

COMPOSE_FILE=docker-compose.yml
# for dev : 
#COMPOSE_FILE=docker-compose.yml:docker-compose.override-dev.yml

#+-------------------------------------------------------------------------------------------------+
# Paramètres administrateur avancés (⚠ ne modifier que si vous savez ce que vous faites !)
#+-------------------------------------------------------------------------------------------------+

# Parmètres Gunicorn
gun_num_workers=4
gun_host=0.0.0.0
gun_port=8080
gun_timeout=60
