{% extends "templates/core/layout.html" %}

{% block title %}
    {{ nom_organism }}
{% endblock %}

{% block additionalHeaderAssets %}
    <!-- ChartJS -->
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>
    <!-- Lightbox -->
    <link href="{{ url_for('static', filename='node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block additionalFooterAssets %}
    <script>
        var dataset = {{ stats_group | tojson }};
        var observationsPoint = [];
        var observationsMaille = [];
    </script>
    <script src="{{ url_for('static', filename='node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chart_organism.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row gy-4">
            <!-- Left column -->
            <div class="col-12 col-lg-7">
                {% include 'templates/organismSheet/identityCard.html' %}
                {% include 'templates/organismSheet/statsInfos.html' %}
            </div>

            <!-- Right column -->
            <div class="col-12 col-lg-5">
                {% include 'templates/organismSheet/topSpecies.html' %}
                {% include 'templates/organismSheet/groupChart.html' %}
                <!--TODO : faire remontées des infos 'autres'-->
                {#% include 'templates/organismSheet/blocInfos.html' %#}
            </div>
        </div>
    </div>
{% endblock %}