{% block identityCard %}
	<div class="card mt-4" id="identityCard">
		<div class="row" id="rowIdentity">
			<!-- Logo -->
			<div class="imgWrapper  left">
				<span class="fas fa-search" id="zoomPhotos"></span>
				<a href="{{ url_organism }}" data-lightbox="imageSet">
					{% if url_logo != none %}
					<img id="mainImg" 
					src='{{ url_logo }}'
					style="width: 200px;">
					{% endif %}
				</a>
			</div>
			<div class="left col-9  ">
			<h1>
				<strong>{{ nom_organism }}</strong>
			</h1>
				<br>Région/département rattaché : {{ adresse_organism}} {{ cp_organism }}
				<br>Téléphone : {{ tel_organism }}
				<br>Description
			</div>
		</div>
	</div>
{% endblock %}