{% block lastObs %}
    <div id="DernieresObservations">
        <div class="card mt-4">
            <div class="card-body">

                <h3 class="title-spaced"><i class="fas fa-binoculars icon-color-title"></i>
                    {{ configuration.TEXT_LAST_OBS }} {{ observations | length }} {{ 'observations' if observations | length > 1 else 'observation' }}
                </h3>
                <div class="row" id="mapRow">
                    <!-- CARTE des dernières observations -->
                    <div id="blocMap" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div id="map"></div>
                    </div>
                    <!-- LISTE des dernières observations -->
                    <div id="listMap" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <table id='tableEspece' class="table">

                            <tbody>
                            {% for obs in observations %}
                                <tr class='tabEspece' idSynthese="{{ obs.id_observation }}">
                                    <!-- <td class="singleTaxon img">
											<div class ="pictoImg" style="background-image:url({{configuration.TAXHUB_URL}}/api/tmedias/thumbnail/{{obs.id_media}}?h=60&w=60);" data-toggle="tooltip" data-original-title="{{obs.group2_inpn}}" data-placement="left"></div>
										</td> -->
                                    <td class="singleTaxon img">
                                        {% if obs.pathImg == None %}
                                            <img class="singleTaxon" width="80%"
                                                 src="{{ url_for('static', filename='images/picto_' + obs.group2_inpn | replace(" ", "_") +'.png') }}"
                                                 data-toggle="tooltip" data-original-title="{{ obs.group2_inpn }}"
                                                 data-placement="left">
                                        {% else %}
                                            {% if configuration.REDIMENSIONNEMENT_IMAGE %}
                                                {% set img_path = configuration.TAXHUB_URL+'/api/tmedias/thumbnail/'+obs.id_media|string+'?h=500&w=500' %}
                                            {% else %}
                                                {% set img_path = obs.pathImg %}
                                            {% endif %}
                                            <div class="pictoImg pictoImgSmall lazy" data-src="{{ img_path }}"></div>
                                        {% endif %}
                                    </td>
                                    <td class="singleTaxon name" cdref="{{ obs.cd_ref }}"> {{ obs.taxon }}</td>
                                    <td class="singleTaxon date"> {{ obs.dateobs }} </td>
                                    <td class="singleTaxon detail">
                                        <a href="{{ url_for('main.ficheEspece',cd_ref=obs.cd_ref) }}">
                                            <span class="glyphicon glyphicon-list" data-toggle="tooltip"
                                                  data-original-title="Consulter la fiche espèce"
                                                  data-placement="left"> </span>
                                        </a>
                                    </td>
                                    <td class="hiddenTd" hidden="true">{{ obs.cd_ref }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}