
# -*- coding:utf-8 -*-

# Developpers only - Use debug mode
modeDebug = False

# Application database connection
# Replace user, mypasswordtochange, host (localhost if the database is on the same host as the application), 
# eventually the database port and database name with reader user (user_pg in settings.ini)
database_connection = "postgresql://user:mypasswordtochange@host:5432/databaseName"

#################################
#################################
### Application customisation ###
#################################
#################################

# Organisation name
STRUCTURE = "Organisation name"
STRUCTURE = unicode(STRUCTURE, 'utf-8') # Function used to encode the name in UTF-8, not to be changed

# Application name
NOM_APPLICATION = "Application name"
NOM_APPLICATION = unicode(NOM_APPLICATION, 'utf-8') # Function used to encode the name in UTF-8, not to be changed

# Application URL from domaine root
# Example : "/atlas" if your URL is http://my-domain/atlas OR "" if the application is accessible on root of domain
URL_APPLICATION = ""

# Google Analytics tracking code (only if AFFICHAGE_FOOTER = True and if you want Google Analytics statistics)
ID_GOOGLE_ANALYTICS = "UA-xxxxxxx-xx"

# Use and display glossary (static/custom/glossaire.json.sample)
GLOSSAIRE = False

###########################
###### Multilingual #######
###########################

# Available languages
LANGUAGES = {
    'en': 'English',
    'fr': 'French'
}

# Default language to use if browser language is not available
BABEL_DEFAULT_LOCALE= 'fr'

##########################
###### Cartography #######
##########################

# IGN key if you use French Geoportail API to display basemaps
IGNAPIKEY = 'myIGNkey';

# Maps configuration (territory center, CARTE (map) and ORTHO (photo) layers, default scale...)
MAP = {
    'LAT_LONG': [44.7952, 6.2287],
    'FIRST_MAP': {
            'url' : 'http://gpp3-wxs.ign.fr/'+IGNAPIKEY+'/wmts?LAYER=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD&EXCEPTIONS=text/xml&FORMAT=image/jpeg&SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&STYLE=normal&TILEMATRIXSET=PM&&TILEMATRIX={z}&TILECOL={x}&TILEROW={y}',
            'attribution' : '&copy; <a href="http://www.ign.fr/">IGN</a>',
            'tileName' : 'IGN'
    },
    'SECOND_MAP' : {'url' :'https://gpp3-wxs.ign.fr/'+IGNAPIKEY+'/geoportail/wmts?LAYER=ORTHOIMAGERY.ORTHOPHOTOS&EXCEPTIONS=text/xml&FORMAT=image/jpeg&SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&STYLE=normal&TILEMATRIXSET=PM&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}',
            'attribution' : '&copy; <a href="http://www.ign.fr/">IGN</a>',
            'tileName' : 'Ortho IGN'
    },
    'ZOOM' : 10,
    # Slider steps for observations years (1 = 1 year step on slider)
    'STEP': 1,
    # Color and thickness of territory border
    'BORDERS_COLOR': '#000000',
    'BORDERS_WEIGHT': 3
}

# Observations display by grids or points
# True = grids / False = points
AFFICHAGE_MAILLE = False

# Zoom level from which it switches to point display (only if AFFICHAGE_MAILLE = False)
ZOOM_LEVEL_POINT = 11

# Observations numbers limit from which it uses clusters
LIMIT_CLUSTER_POINT = 1000

# Homepage map : observations from 'x' latest days. 
# To fill in English and without plurial, to define how long you want to display latest observations on homepage map
NB_DAY_LAST_OBS = '7 day'
# Text to display as title of this block. NO MORE USED ? In translations files now ???
TEXT_LAST_OBS = u'Les observations des agents ces 7 derniers jours |'

# Municipalties pages map : Number of 'x' latest observations displayed on default map
NB_LAST_OBS=100

########################
###### HOME PAGE #######
########################

# Introduction block presenting the atlas(static/custom/templates/introduction.html). Display block ? True or False
AFFICHAGE_INTRODUCTION = False

# Display Footer on all pages (static/custom/templates/footer.html). Display footer ? True or False
AFFICHAGE_FOOTER = False

# Global statistic block. Display block ? True or False
AFFICHAGE_STAT_GLOBALES = True

# Latest observations map and list block. Display block ? True or False
AFFICHAGE_DERNIERES_OBS = True

# Species to see currently block. Display block ? True or False
AFFICHAGE_EN_CE_MOMENT = True

## Statistics by taxonomic rank block : Setting for the second statistic block on homepage (statistics by rank displaying 2 random species that has at least one photo)
# This block can be displayed or not. And can be displayed on 2, 3 or 4 columns. It is possible to display as many blocks as wanted(2, 3, 4, 6, 8...)
# Fill in RANG_STAT the duo 'taxonomic rank' - 'taxon name of the rank rang' to have statistics about this rank
# Works at any level of ranks available in taxref taxonomie.table

# Example RANG_STAT = [{'ordre': ['Lepidoptera']}, {'classe': ['Insecta', 'Arachnida']}]
#         RANG_STAT_FR ['Papillon', 'Insecte et Araignées']

AFFICHAGE_RANG_STAT = True
COLONNES_RANG_STAT = 3
RANG_STAT = [{'phylum': ["Arthropoda", "Mollusca"]}, {'phylum': ["Chordata"]}, {'regne': ["Plantae"]}]
RANG_STAT_FR = ['Faune invertébrée', 'Faune vertébrée', 'Flore']

# Function that shouldnt be changed
for i in range(len(RANG_STAT_FR)):
    RANG_STAT_FR[i]=unicode( RANG_STAT_FR[i], 'utf-8')

############################
####### SPECIES PAGE #######
############################

# Taxonomic rank that set until which rank is displayed the taxonomic filitation (hierarchy in species identity block : Family, Order etc... )
LIMIT_RANG_TAXONOMIQUE_HIERARCHIE = 13

# Taxonomic rank that set the switch from species pages display to species list page display
# 35 = SPECIES (see atlas.bib_taxref_rangs table)
# If 35, all rank below or equal will be displayed as a detailled species page. All ranks above will be displayed as species list page
LIMIT_FICHE_LISTE_HIERARCHY = 28

# URL to access to photos and other medias (Roots URL). As an example the TaxHub URL
# This URL will be hidden to web browsers by a rewriting rule
REMOTE_MEDIAS_URL = "http://mondomaine.fr/taxhub/"
# Root of path of media files savec in "chemin" column of "atlas.vm_medias"
# Only this part of the URL will be displayed to web browers
REMOTE_MEDIAS_PATH = "static/medias/"

# TaxHub URL (If TaxHub is used to generate dynamic images thumbnails).
# If this TaxHub service is not used, comment this setting
TAXHUB_URL = "http://mydomain.com/taxhub"

#### Types ID of attributes describing taxons in atlas.vm_cor_taxon_attribut
ATTR_DESC = 100
ATTR_COMMENTAIRE = 101
ATTR_MILIEU = 102
ATTR_CHOROLOGIE = 103

#### Types ID of medias from atlas.vm_medias
ATTR_MAIN_PHOTO = 1
ATTR_OTHER_PHOTO = 2
ATTR_LIEN = 3
ATTR_PDF = 4
ATTR_AUDIO = 5
ATTR_VIDEO_HEBERGEE = 6
ATTR_YOUTUBE = 7
ATTR_DAILYMOTION = 8
ATTR_VIMEO = 9

# Links to INPN species pages. Can be changed to link to another Species website (such as GBIF)
# The URL is automatically generated with taxon ID (cd_nom column)
# To be changed only if you don't use French taxonomic referential (taxref)
URL_REFERENTIEL_SPECIES_SHEET = "https://inpn.mnhn.fr/espece/cd_nom/{}"
# Example for GBIF
# URL_REFERENTIEL_SPECIES_SHEET = "https://www.gbif.org/species/{}"

###################################################
#### MUNICIPALITIES and TAXONOMIC RANKS PAGES #####
###################################################

# Allows to display or not the columns Protection and/or Patrimoniality/Stakes in taxons lists
# Based on fields "atlas.vm_taxons.protection_stricte" (oui/non) and "atlas.vm_taxons.patrimonial"

# Display column Protection in taxons lists (based on field "protection_stricte")
PROTECTION = True

# Display column Patrimonialité in taxons lists (based on field "patrimonial") and to customize it
# To hide this column, set this parameter to "False"
# PATRIMONIALITE = False
# To customize the display of this column (displayed label, field values and their display) :
PATRIMONIALITE = {
    'label': "Patrimonial",
    'config': {
        'oui': {
            'icon': 'custom/images/logo_patrimonial.png',
            'text': u"Ce taxon est patrimonial"
        }
    }
}

#######################
#### Static pages #####
#######################

# Allow to list static pages wanted and to display them dynamically in the sidebar menu
# Pictograms are using Glyphicon (https://www.glyphicons.com/)
STATIC_PAGES = {
    'presentation': {'title': u"Présentation de l'atlas", 'picto': 'glyphicon-question-sign', 'order': 0, 'template': 'static/custom/templates/presentation.html'}
}
