#
#  GeoNature-atlas
#  Configuration PostgreSQL
#..........................

# Effacer la base de donnée existante lors de l'installation
drop_apps_db=false

# Host de la base de données de l'application
db_host=localhost

# Port pour base de données de l'application
db_port=5432

# Nom de la base de données de l'application
db_name=geonatureatlas

# Nom de l'utilisateur propriétaire de la base PostgreSQL
user_pg=geonatatlas

# Nom du superutilisateur PostgreSQL
admin_pg=geonatadmin

# Password du propriétaire de la base geonaturedb
user_pg_pass=monpassachanger

# Password du superuser de la base geonaturedb
admin_pg_pass=monpassachanger

#####SOURCES#####

# Host de la base de données source Geonature 
db_source_host=localhost

# Port pour la base de données source Geonature
db_source_port=5432

# Nom de la base de données source Geonature
db_source_name=geonaturedb

# Nom du user admin sur la base de données source
admin_source_user=geonatadmin

# Pass du user admin sur la base de données source
admin_source_pass=monpassachanger

# Nom du user atlas sur la base de données source (lecture seule)
atlas_source_user=geonatatlas

# Pass du user atlas sur la base de données source (lecture seule)
atlas_source_pass=monpassachanger

###COMMUNES####
communes_shp=/home/theo/atlas/data/ref/communes.shp
colonne_insee=CODE_INSEE
colonne_nom_commune=NOM

###TERRITOIRE####
# Chemin vers le SHP de l'emprise du territoire 
limit_shp="/home/USER/atlas/data/ref/emprise_territoire.shp"


##### MAILLES #####

# Mon territoire se situe pas en métropole ?
metropole=true
# si 'false': rajouter dans le dossier /data/ref un 'shapefile' du maille de votre territoire sous le nom 'custom_maille.shp'
chemin_custom_maille=/home/theo/data/ref/custom_maille.shp

#sinon, choisissez la taille de vos mailles
# Taille des mailles : valeurs possibles 1, 5 ou 10
taillemaille=5



#### ID DES ATTRIBUTS DESCRIPTIFS DES TAXONS DE LA vm_cor_taxon_attribut --  !! si changement: modifier également le config.py
attr_desc=100
attr_commentaire=101
attr_milieu=102
attr_chorologie=103

# Paramètre pour la vue vm_most_view_taxon_periode : Especes les plus observées sur la periode 'moins X jour, plus X jours' - Par défaut 15 jours 
time=15