app_name=atlas

#########################
### Gunicorn settings ###
#########################
gun_num_workers=4
gun_host=0.0.0.0
gun_port=8080

#######################
### Python settings ###
#######################
venv_dir=venv

####################################
### PostgreSQL database settings ###
####################################

# Drop eventual existing database during installation
drop_apps_db=false

# Database host (leave localhost if the database is installed on the same server as the application)
# If the database is installed on another host, the automatic installation script install_db.sh will not work as it has not enough permissions
db_host=localhost

# Database host
db_port=5432

# Database name
db_name=geonatureatlas

# Database reader username, used by web application, with read only on material views
user_pg=geonatatlas

# Database owner username, used to create and update database
owner_atlas=geonatuser

# Database reader user password
user_pg_pass=mypasswordtochange

# Database owner user password
owner_atlas_pass=mypasswordtochange

# Is GeoNature-atlas connected to a GeoNature database
geonature_source=false

# If TRUE :

# GeoNature version (1 or 2)
geonature_version=2

# Is GeoNature-atlas database in the same database as GeoNature ?
# If true : remote database that will be accessed with Foreign Data Wrapper (FDW)
geonature_fdw=true

#################################################
##### GEONATURE database connection SOURCE ######
#################################################

# Only if geonature_source=true
# Only required if you want to connected to a GeoNature database with Foreign Data Wrapper
# If you have a remote database with your observations which is not GeoNature, 
# and want to connect GeoNature-atlas to it, you can inspire yourself from data/atlas_geonature.sql to connect to another mother database

# GeoNature source database host
db_source_host=localhost

# GeoNature source database port
db_source_port=5432

# GeoNature source database name
db_source_name=geonaturedb

# GeoNature source database username (read only)
atlas_source_user=geonatuser

# GeoNature source database username password (read only)
atlas_source_pass=monpassachanger

#######################
### GEOGRAPHIC data ###
#######################

# GeoNature-atlas is it connected to GeoNature 2 geographical referentiel (ref_geo) ?
use_ref_geo_gn2=true

##### If use_ref_geo = true #####
type_maille="'M1'"
type_territoire="'PEC'"

##### If use_ref_geo = False ######

## MUNICIPALITIES ##

# Create municipalities table from a shapefile ?
# If false, change the content of 'atlas.vm_communes' in data/atlas.sql
import_commune_shp=true

# Path and column name of the municipalities SHP file
# Leave it so Laisser tel quel (just changing MYUSERLINUX) if you want to use Ecrins national park municipalities dataset
communes_shp=/home/MYUSERLINUX/atlas/data/ref/communes.shp
# Municipalities ID column name
colonne_insee=insee
# Municipalities name column name
colonne_nom_commune=nom_com

### TERRITORY ####

# Path to territory SHP file
limit_shp=/home/MYUSERLINUX/atlas/data/ref/territoire.shp

##### GRIDS #####

# Is my territory in French metropolis ? 
# In this case, it will automatically use grids provided by INPN (French national museum)
metropole=false

# If metropole=true, choose the size of the grids you want to use (in km) / Values available : 1, 5 or 10
taillemaille=5

# If 'metropole=false', upload a SHP file in /data/ref folder with grids you want to use and fill its path
chemin_custom_maille=/home/MYUSERLINUX/atlas/data/ref/custom_maille.shp

######################
### TAXONOMIC data ###
######################

# Install "taxonomie" database schema from TaxHub into GeoNature-atlas database ?
install_taxonomie=true

# TaxHub version to use to install "taxonomie" schema
# GeoNature-atlas 1.3.0 is compatible with TaxHub version lower or equal to 1.3.2
# Recommanded and tested version : 1.3.2
taxhub_release=1.3.2

#### Types ID of attributes describing taxons in atlas.vm_cor_taxon_attribut
## If you change these id, change also in main/configuration/config.py file
attr_desc=100
attr_commentaire=101
attr_milieu=102
attr_chorologie=103

# atlas.vm_taxons_plus_observes view settings
# Most observed species in period 'minus X days, plus X days compared to today, all years'
# 15 days by default
time=15
