# Atlas configuration files
atlas/configuration/config.py
atlas/configuration/settings.ini

# Atlas custom files
atlas/static/custom/*.*
atlas/static/custom/images/*.*
atlas/static/custom/templates/*.*
