# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true

# Indentation override for Makefiles
[{Makefile,*.mk}]
indent_style = tab

# Indentation with 4 spaces
[*.{py,sql,js,css,html}]
indent_style = space
indent_size = 4
