# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true

# Indentation override for Makefiles
[Makefile, .mk]
indent_style = tab

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Indentation override for all JS under lib directory
[*.js, *.css, *.html]
indent_style = tab
indent_size = 2