*.pyc
tests/*
config/settings.ini
config/config.py
log/*
static/conf/custom.js
main/debug.py
data/ref/emprise_territoire.*
static/territoire.json
static/images/ancien
main/configuration/config.py
main/configuration/settings.ini
robots.txt
venv/*

data/ref/communes.shp
data/ref/communes.shx
data/ref/communes.dbf
data/ref/communes.prj

static/custom/territoire.json
static/custom/glossaire.json
static/custom/custom.css
static/custom/images/*
static/custom/templates/presentation.html
static/custom/templates/footer.html
static/custom/templates/introduction.html
static/custom/images/accueil-intro.jpg
static/custom/images/favicon.ico
static/custom/images/logo-structure.png

data/ref/communes.dbf
data/ref/communes.prj
data/ref/communes.shp
data/ref/communes.shx

data/ref/territoire.dbf
data/ref/territoire.prj
data/ref/territoire.shp
data/ref/territoire.shx

