*.pyc
tests/*
config/settings.ini
config/config.py
log/*
static/conf/custom.js
main/debug.py
data/ref/PNE_aoa.*
static/territoire.json
static/images/ancien
static/custom/*
main/configuration/config.py
main/configuration/settings.ini
