*.pyc
config/settings.ini
config/config.py
log/*
atlas/static/conf/custom.js
atlas/debug.py
data/ref/emprise_territoire.*
atlas/static/territoire.json
atlas/static/images/ancien
atlas/configuration/config.py
atlas/configuration/settings.ini
robots.txt
.htaccess
venv/*
venv3/*

data/ref/communes.shp
data/ref/communes.shx
data/ref/communes.dbf
data/ref/communes.prj

satic/node_modules

atlas/static/custom/territoire.json
atlas/static/custom/glossaire.json
atlas/static/custom/custom.css
atlas/static/custom/maps-custom.js
atlas/static/custom/images/logo-structure.png
atlas/static/custom/images/accueil-intro.jpg
atlas/static/custom/images/favicon.icom
atlas/static/custom/images/logo_patrimonial.png

atlas/static/node_modules

atlas/static/custom/templates/presentation.html
atlas/static/custom/templates/footer.html
atlas/static/custom/templates/introduction.html
atlas/static/custom/templates/credits.html
atlas/static/custom/templates/mentions-legales.html
atlas/static/custom/templates/advanced_search.html

geonature_atlas.egg-info

data/ref/communes.dbf
data/ref/communes.prj
data/ref/communes.shp
data/ref/communes.shx

data/ref/territoire.dbf
data/ref/territoire.prj
data/ref/territoire.shp
data/ref/territoire.shx

# Pycharm
.idea/

.vscode

.coverage
.tox
*.swp
*.swo
