certifi==2021.5.30
chardet==4.0.0
Click==7.0
dominate==2.3.5
dparse==0.5.1
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
GeoAlchemy2==0.6.3
geojson==2.4.1
graphviz==0.16
gunicorn==19.10.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==2.19.5sa
packaging==20.9
pipdeptree==2.0.0
psycopg2==2.8.5
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.25.1
safety==1.10.3
SQLAlchemy==1.3.19
toml==0.10.2
urllib3==1.26.6
visitor==0.1.3
Werkzeug==0.15.5
