    <footer class="footer">
      <div class="container footer-container">
        <ul class="footer-list">
        	<li class="footer-li"> <a href="">Accueil</a> </li>
        	<li class="footer-li"> <a href="">Site du {{configuration.STRUCTURE}}</a> </li>
        	<li class="footer-li"> <a href="">Conception et crédits  </a> </li> 
        	<li class="footer-li"> <a href="http://www.ecrins-parcnational.fr/mentions-legales"> Mentions légales </a> </li>
        </ul>

        <div id="clear">
        	<p class="text-muted">{{configuration.NOM_APPLICATION}} - Atlas de la faune et de la flore du {{configuration.STRUCTURE}}, 2016</p>
        </div>
      </div>
    </footer>