    <footer class="footer">
        <p>
             <a href=""> Accueil  |  </a> 
            <a href=""> Site du Parc national des Ecrins |  </a> 
            <a href=""> Conception et crédits |  </a> 
            <a href="http://www.ecrins-parcnational.fr/mentions-legales"> Mentions légales   </a> 
       <p>


        <div id="clear"> 
            <p class="text-muted"> Biodiv' Ecrins - Atlas du la faune et de la flore du Parc national des Ecrins, 2016</p>
        </div>
      
    </footer>