			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 textIntroduction">
							<h1>
								Bienvenue sur l'atlas de la faune et de la flore du {{configuration.STRUCTURE}}
							</h1>
							<p>
								Le Parc national des Ecrins met à votre disposition l'ensemble des espèces sauvages observées par ses agents depuis sa création en 1973. Chaque nouvelle observation alimente en temps réel les fiches de chaque espèce que vous consultez, dans une volonté de partage et d'enrichissement des connaissances sur la biodiversité alpine.
							</p>
							<p>
								Cet atlas vous présente des observations reéalisées dans le cadre de différents protocoles scientifiques. Il ne s'agit pas d'un inventaire exhaustif ni d'une répartition complète des espèces sur le territoire.
							</p>
							<p>
								<a href="{{url_for('main.get_staticpages', page='presentation') }}" class="btn btn-default">En savoir plus</a>
							</p>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<img src="{{url_for('static', filename='custom/images/accueil-intro.jpg') }}" width="100%" alt="{{configuration.NOM_APPLICATION}}">
						</div>
					</div>
				</div>
			</div>