			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 textIntroduction"> 
							<h1>
								Bienvenue sur l'atlas de la faune et de la flore du {{configuration.STRUCTURE}}
							</h1>
							<p>
								Il permet de consulter des fiches sur l'ensemble des espèces observées par les agents du parc national depuis sa création en 1973.
							</p>
							<p>
								Celles-ci se basent sur les observations réalisées en temps réel par les agents et présente une vue d'ensemble des espèces observées mais en aucun cas un inventaire exhaustif des espèces du territoire.
							</p>
							<p>
								<a href="{{url_for('main.presentation') }}" class="btn btn-default">En savoir plus</a>
							</p>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<img src="{{url_for('static', filename='custom/images/accueil-intro.jpg') }}" width="100%" alt="{{configuration.NOM_APPLICATION}}">
						</div>
					</div>
				</div>
			</div>