{% extends "templates/core/layout.html" %}

{% block title %}
    {# Personnalisez ici le titre de la page (celui qui est affiché dans l'onglet du navigateur) #}
    Commune de {{ referenciel.communeName }}
{% endblock %}

{% block metaTags %}
    {# Ajoutez ici les balises méta utilisées pour le SEO #}
{% endblock %}

{% block additionalHeaderAssets %}
    {# Ajoutez ici les assets complémentaires qui seront dans le bloc <head></head> #}
            <script src="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.css') }}" />
		    <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.Default.css') }}" />

    <!-- DataTable -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listEspeces.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icones.css') }}"/>
{% endblock %}



{% block additionalFooterAssets %}
    {# Ajoutez ici les assets complémentaires qui seront en bas de page #}
    <script type="text/javascript">
        var configuration = {{configuration|tojson}};
        var observations = {{observations|tojson}};
        var communeGeoJson = {{referenciel.communeGeoJson|tojson}};
        var url_limit_territory = "{{url_for('static', filename='custom/territoire.json') }}";
        //calcul du nb de colonnes pour le fonctionnement de dataTables.js
        var nbColumn = 7;
        {% if configuration.DISPLAY_PATRIMONIALITE %} nbColumn = nbColumn + 1;{% endif %}
        {% if configuration.PROTECTION %} nbColumn = nbColumn + 1;{% endif %}
        var noSordedColumns = [nbColumn - 2, nbColumn - 1]; //var for dataTables js lib
        var defaultSortedColumn = nbColumn - 4; //var for dataTables js lib
    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/datatables/datatables.min.js') }}"></script>

    <script src="{{ url_for('static', filename='custom/maps-custom.js') }}"></script>
    <script src="{{ url_for('static', filename='listeEspeces.js') }}"></script>
    <script src="{{ url_for('static', filename='mapGenerator.js') }}"></script>
    <script src="{{ url_for('static', filename='mapCommune.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}


{% block content %}
    {# Ajoutez ici coeur de la page #}
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="card mt-4" id="parent">
                <h4><b>Commune de {{ referenciel.communeName }}</b></h4>
                <ul id="statHierarchy">
                    <li class="border-right">
                        <i class="fas fa-search fa-2x"></i><br/>
                        {#                    <span data-icon="&#xe037;" style="font-size: 30px;"></span><br/>#}
                        <b>{{ listTaxons.nbObsTotal | pretty }}</b><br/>{{ 'observations' if listTaxons.nbObsTotal > 1 else 'observation' }}
                    </li>
                    <li class="border-right">
                        <i class="fa fa-leaf fa-2x"></i><br/>
                        {#                    <span data-icon="&#xe03b;" style="font-size: 30px;"></span></br>#}
                        <b>{{ listTaxons.taxons|length | pretty }}</b><br/>{{ 'espèces' if listTaxons.taxons|length > 1 else 'espèce' }}
                    </li>
                    <li><i class="fa fa-users fa-2x"></i></br>
                        {#                    <span data-icon="&#xe040;" style="font-size: 30px;"></span></br>#}
                        <b>{{ observers | length | pretty }}</b><br/>{{ 'observateurs' if observers|length > 1 else 'observateur' }}
                    </li>
                </ul>
            </div>
            <div class="card mt-4" >
                {% include 'templates/areaSheet/tabTaxons.html' %}
            </div>
            {#        <div class="row rowMargin" id="clear">#}
            {#            <div class="card">#}
            {#                {% include 'templates/areaSheet/tabTaxons.html' %}#}
            {#            </div>#}
            {#        </div>#}
        </div>

        <div class="col-md-5 col-sm-12 m-0 p-0" id="mapWrapper">
            <div class="card m-0 p-0">
                <img id="loadingGif" src="">
                <div id="mapTitle" class="card-header bg-light">
                    <h4 id="titleMap"><i class="fa fa-map"></i> {{ configuration.NB_LAST_OBS }} dernières observations
                        sur la commune de
                        <i>{{ referenciel.communeName }}</i></h4></strong>
                </div>
                <div id="map" style="height: 100vh;width:100%;"></div>
            </div>
        </div>
    </div>

{% endblock %}
