{% extends "templates/core/layout.html" %}

{% block title %}
    {# Personnalisez ici le titre de la page (celui qui est affiché dans l'onglet du navigateur) #}
    Commune de {{ referenciel.communeName }}
{% endblock %}

{% block metaTags %}
    {# Ajoutez ici les balises méta utilisées pour le SEO #}
{% endblock %}

{% block additionalHeaderAssets %}
    {# Ajoutez ici les assets complémentaires qui seront dans le bloc <head></head> #}
    <script src="{{ url_for('static', filename='lib/leaflet/leafletMarkerCluster.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet/leafletMarkerCluster.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet/leafletMarkerCluster.Default.css') }}"/>

    <!-- DataTable -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listEspeces.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icones.css') }}"/>

{% endblock %}



{% block additionalFooterAssets %}
    {# Ajoutez ici les assets complémentaires qui seront en bas de page #}
    <script type="text/javascript">
        var configuration = {{configuration|tojson}};
        var observations = {{observations|tojson}};
        var communeGeoJson = {{referenciel.communeGeoJson|tojson}};
        var url_limit_territory = "{{url_for('static', filename='custom/territoire.json') }}";
        //calcul du nb de colonnes pour le fonctionnement de dataTables.js
        var nbColumn = 7;
        {% if configuration.DISPLAY_PATRIMONIALITE %} nbColumn = nbColumn + 1;{% endif %}
        {% if configuration.PROTECTION %} nbColumn = nbColumn + 1;{% endif %}
        var noSordedColumns = [nbColumn - 2, nbColumn - 1]; //var for dataTables js lib
        var defaultSortedColumn = nbColumn - 4; //var for dataTables js lib
    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/datatables/dataTables.bootstrap4.min.js') }}"></script>


    <script src="{{ url_for('static', filename='custom/maps-custom.js') }}"></script>
    <script src="{{ url_for('static', filename='listeEspeces.js') }}"></script>
    <script src="{{ url_for('static', filename='mapGenerator.js') }}"></script>
    <script src="{{ url_for('static', filename='mapCommune.js') }}"></script>
{% endblock %}


{% block content %}
    {# Ajoutez ici coeur de la page #}
    <div class="row h-100 flex-grow-1 p-0 m-0 border-bottom">
        <div class="col-12 col-md-7 d-flex flex-column m-0 p-0">
            <div class="bg-light text-center border-bottom border-right p-2">
                <h4><b>Commune de {{ referenciel.communeName }}</b></h4>
                {% include 'templates/core/statHierarchy.html' %}
            </div>

                {% include 'templates/core/listTaxons.html' %}
        </div>
        <div class="col-12 col-md-5 d-flex flex-column m-0 p-0">
            <div class="bg-light p-2">
                <h5 id="titleMap"><i class="fa fa-map"></i> {{ configuration.NB_LAST_OBS }} dernières
                    observations
                    sur la commune de
                    <i>{{ referenciel.communeName }}</i></h5>
            </div>
            <div class="d-flex align-content-stretch bg-warning flex-grow-1">
                <div class="d-flex flex-grow-1">
                    {% include 'templates/core/loaderSpinner.html' %}
                    <div id="map" style="height: unset;flex:1;"></div>
                </div>
            </div>
        </div>
    </div>


    {# Ajoutez ici coeur de la page #}

{% endblock %}
