{% block assets_header %}

<!-- Jquery -->
<script type=text/javascript src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='node_modules/jquery-lazy/jquery.lazy.min.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='node_modules/jquery-ui-dist/jquery-ui.css') }}" />

<!-- Bootstrap -->
<link rel="stylesheet" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"/>
<script type=text/javascript src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

<!-- Leaflet -->
<link rel="stylesheet" href="{{url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
<script src="{{url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
<script src="{{url_for('static', filename='node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css') }}" />

<!-- fontawesome -->
<script src="{{url_for('static', filename='node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}"></script>

<!-- CSS Application -->
<link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />

<!-- Href lang-->
{% if configuration.MULTILINGUAL %}
{% for language in AVAILABLE_LANGUAGES %}
<link rel="alternate" hreflang='{{ language }}' href="{{ configuration.DOMAIN_NAME + configuration.URL_APPLICATION + '/'+ language + '/'}}">
{% endfor %}
{% endif %}
<link rel="alternate" hreflang='{{ configuration.BABEL_DEFAULT_LOCALE }}' href="x-default">
{% endblock %}