{% block biodivTerritoires %}
    {# Component to access to Biodiv'territoires informations displayed in modal #}
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm center">
                <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#biodivterritoires-modal"
                >
                    Résultats avancés
                </button>
            </div>
        </div>
    </div>

    {# Biodiv'territoires modal #}
    <div
        id="biodivterritoires-modal"
        class="modal fade modal-full-frame"
        tabindex="-1"
        aria-labelledby="biodivterritoires-modal-label"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="biodivterritoires-modal-label" class="modal-title">
                        Résultats avancés - {{ areaInfos.areaName }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe
                        title="Informations avancées du territoire {{ areaInfos.areaName }}"
                        frameborder="0"
                        width="100%"
                        height="100%"
                        style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0;left:0;right:0;bottom:0"
                        src="https://territoires.biodiversite-aura.fr/embed/territory/com/{{areaInfos.areaCode}}"
                    >
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
