{% block extended_areas_search %}

    <button class="btn btn-success" data-toggle="modal" data-target="#advancedSearchModal"><i
            class="fas fa-search-location"></i></button>


    <div class="modal fade" id="advancedSearchModal" tabindex="-1" role="dialog"
         aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Rechercher d'autres types de zonages</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="form-inline my-2 my-lg-0 ml-2" method="POST"
                        onsubmit="completeAction('#searchFormAreas', hiddenInputAreas)" id='searchFormAreas'
                        action=""
                        role="search">
                      <div class="form-group has-feedback">
                          <input id="searchAreas" type="text" style="width: 175px;"
                                 class="form-control mr-sm-2 ajax-search small-placeholder"
                                 placeholder="{{ _('search.city') }}&nbsp;&nbsp;&nbsp;">
                      </div>
                      <input id="hiddenInputAreas" type="hidden" name="search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additionalFooterAssets %}
<script>
$("#searchAreas").focus(function() {
  autocompleteSearch("#searchAreas", "", 10);
});

</script>
{% endblock %}