{% block tabTaxons %}
    {% if configuration.INTERACTIVE_MAP_LIST %}
        <style>
            #taxonListItem:hover {
                background-color: #cccccc;
                cursor: pointer;
            }

        </style>
    {% endif %}
    <div class="bg-white border-right p-2">

        <div class="col">
            <input id="taxonInput" type="text" class="form-control  form-control-sm" placeholder="{{ _('filter.species') }}">
        </div>

    </div>
    <div id="taxonList" class="d-flex align-content-stretch bg-white flex-grow-1">
        <ul class="list-group w-100">
            {% for taxon in listTaxons.taxons %}
                <li id="taxonListItem" class="media border-bottom p-2" area-code="{{ insee }}"
                    cdRef="{{ taxon.cd_ref }}" {% if configuration.INTERACTIVE_MAP_LIST %}data-toggle="tooltip"
                    data-original-title="{{ _('display.municipality.obs') }}"{% endif %}>
                <span class="d-none">{{ taxon.group2_inpn }}</span>
                <div class="pictoImgList mr-2" data-toggle="tooltip" data-original-title="{{ taxon.group2_inpn }}"
                     data-placement="right">
                    {% if taxon.path == None %}

                        <img class="mx-auto d-block"
                             src="{{ url_for('static', filename='images/picto_'+ taxon.group2_inpn| replace(" ", "_") |urlencode+'.png') }}">

                    {% else %}
                        {% if configuration.REDIMENSIONNEMENT_IMAGE %}
                            {% set img_path = configuration.TAXHUB_URL+'/api/tmedias/thumbnail/'+taxon.id_media|string+'?h=500&w=500' %}
                        {% else %}
                            {% set img_path = taxon.path %}
                        {% endif %}
                        <img class="lazy pictoImgList" data-src="{{ img_path }}">
                    {% endif %}
                </div>
                <div class="media-body">
            <span class="float-right">
                                               {% if configuration.PROTECTION %}
                                                   {% if taxon.protection_stricte == 'oui' %}
                                                       <a
                                                               href="https://inpn.mnhn.fr/espece/cd_nom/{{ taxon.cd_ref }}/tab/statut"
                                                               target="_blank">
                                    <img src="{{ url_for('static', filename='images/logo_protection.png') }}"
                                         style="width : 30px; height: 30px" data-placement="left" data-toggle="tooltip"
                                         data-original-title="{{ ('this.taxon.has.a.protected.status') }}">
                                                </a>
                                                   {% endif %}
                                               {% endif %}
                {% if configuration.DISPLAY_PATRIMONIALITE %}
                    {% if taxon.patrimonial in configuration.PATRIMONIALITE.config %}

                        <img
                                src="{{ url_for('static', filename=configuration.PATRIMONIALITE.config[taxon.patrimonial].icon) }}"
                                style="width : 30px; height: 30px" data-placement="left" data-toggle="tooltip"
                                data-original-title="{{ configuration.PATRIMONIALITE.config[taxon.patrimonial].text }}"
                                data-placement="right"
                        >
                    {% endif %}
                {% endif %}

            </span>
                    <h5 class="mt-0 mb-1 ">
                        {% if DISPLAY_EYE_ON_LIST %}
                            <a data-toggle="tooltip"
                               data-placement="right"><i class="fas fa-eye fa-fw"> </i></a>
                        {% endif %}
                        <strong>{% if taxon.nom_vern == None %}
                            -
                        {% else %}
                            {{ taxon.nom_vern.split(',')[0].strip() }}
                        {% endif %}</strong></h5>
                    <h5>
                        <span id="name">{{ taxon.nom_complet_html|safe }}</span>
                    </h5>

                    <strong>{{ taxon.nb_obs }}</strong> {% if taxon.nb_obs == 1 %}{{_ ('observation')|lower}}{% else %}
                    {{_ ('observations')|lower}}{% endif %} <br>
                    {{_('last.obs.in')}} <strong>{{ taxon.last_obs|int }}</strong>
                    <span class="float-right">
                    <a class="badge badge-primary" href="{{ url_for('main.ficheEspece',cd_ref=taxon.cd_ref) }}"
                       data-toggle="tooltip"
                       title="{{ _('check.species.sheet') }}" data-placement="left">
                        <i class="fas fa-list fa-fw"></i> {{ _('species.sheet') }}</i>
                    </a>
                    </span>

                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
