{% block tabTaxons %}
    {% if configuration.INTERACTIVE_MAP_LIST %}
        <style>
            #taxonListItem:hover {
                background-color: #cccccc;
                cursor: pointer;
            }
        </style>
    {% endif %}
        <div class="bg-white border-end p-2">

        <div class="row g-2">
            <div class="col-auto dropdown">
                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="groupFilterDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    {{ _('filter') }} : <span id="currentGroupLabel">{{ _('all') }}</span>
                </button>
                <ul class="dropdown-menu p-2" id="groupFilterList" aria-labelledby="groupFilterDropdown" style="min-width: 260px">
                    <!-- Groupes injectés dynamiquement -->
                </ul>   
            </div>
            <div class="col">
                <input id="taxonInput" type="text" class="form-control form-control-sm" placeholder="{{ _('filter.species') }}" />
            </div>
            
        </div>
    <div id="taxonList" class="d-flex align-content-stretch bg-white flex-grow-1" style="position: relative">
        <ul class="list-group w-100">
            {% include 'templates/core/taxon.html' %}
        </ul>
    </div>
    <div id="list-taxon-loader-spinner" class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">{{ _('loading') }}</span>
    </div>
    {% block additionalFooterAssets %}
        <script>
            window.module = {exports: {}};
            var configuration = {{configuration|tojson}};
            // set the context for list taxon : if we are on area, taxon rank sheet, last_obs etc...
            var context = {{context | tojson}};
        </script>
        <script src="{{ url_for('static', filename='node_modules/debounce/index.js') }}"></script>
        <script src="{{ url_for('static', filename='listeEspeces.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/listEspeces.css') }}"/>
    {% endblock %}
{% endblock %}
