{% block tabTaxons %}
    {% if configuration.INTERACTIVE_MAP_LIST %}
        <style>
            #taxonListItem:hover {
                background-color: #cccccc;
                cursor: pointer;
            }
        </style>
    {% endif %}
    <div class="bg-white border-end p-2">

        <div class="col">
            <input id="taxonInput" type="text" class="form-control form-control-sm" placeholder="{{ _('filter.species') }}" />
        </div>

    </div>
    <div id="taxonList" class="d-flex align-content-stretch bg-white flex-grow-1">
        <ul class="list-group w-100">
            {% for taxon in listTaxons.taxons %}
                <li id="taxonListItem" 
                    class="d-flex border-bottom p-2 
                        {% if (configuration.AFFICHAGE_MENACE and taxon.statut_menace) %} border border-danger bg-danger-subtle 
                        {% endif %}"  
                    area-code="{{ id_area }}"
                    cdRef="{{ taxon.cd_ref }}" 
                    {% if configuration.INTERACTIVE_MAP_LIST %} 
                        data-bs-toggle="tooltip" title="{{ _('display.municipality.obs') }}"
                    {% endif %}>

                    <span class="d-none">{{ taxon.group2_inpn }}</span>

                    <div class="pictoImgList me-2" data-bs-toggle="tooltip" title="{{ taxon.group2_inpn }}" data-bs-placement="right">
                        {% if taxon.path == None %}
                            <img loading="lazy" class="mx-auto d-block INPNgroup"
                                 src="{{ url_for('static', filename='images/picto_'+ taxon.group2_inpn| replace(" ", "_") |urlencode+'.png') }}" alt=" " />
                        {% else %}
                            {% if configuration.REDIMENSIONNEMENT_IMAGE %}
                                {% set img_path = configuration.TAXHUB_URL+'/api/tmedias/thumbnail/'+taxon.id_media|string+'?h=80&w=80' %}
                            {% else %}
                                {% set img_path = taxon.path %}
                            {% endif %}
                            <img loading="lazy" class="pictoImgList" src="{{ img_path }}" alt=" " />
                        {% endif %}
                    </div>

                    <div class="flex-grow-1">
                        {% if dispay_picto %}
                            <span class="float-end">
                                {% if configuration.PROTECTION %}
                                    {% if taxon.protection_stricte %}
                                        <a href="https://inpn.mnhn.fr/espece/cd_nom/{{ taxon.cd_ref }}/tab/statut" target="_blank">
                                            <img src="{{ url_for('static', filename='images/logo_protection.png') }}"
                                                style="width: 30px; height: 30px" 
                                                data-bs-placement="left" data-bs-toggle="tooltip"
                                                title="{{ _('this.taxon.has.a.protected.status') }}" alt=" " />
                                        </a>
                                    {% endif %}
                                {% endif %}

                                {% if configuration.DISPLAY_PATRIMONIALITE %}
                                    {% if taxon.patrimonial in configuration.PATRIMONIALITE.config %}
                                        <img src="{{ url_for('static', filename=configuration.PATRIMONIALITE.config[taxon.patrimonial].icon) }}"
                                            style="width: 30px; height: 30px" 
                                            data-bs-placement="left" data-bs-toggle="tooltip"
                                            title="{{ configuration.PATRIMONIALITE.config[taxon.patrimonial].text }}"
                                            alt=" " />
                                    {% endif %}
                                {% endif %}
                                {% if configuration.AFFICHAGE_MENACE %}
                                    {% set statut_menace = taxon.statut_menace %}
                                        {% if statut_menace in ['CR','EN','VU'] %}
                                            <img src="{{ url_for('static', filename='images/Status_iucn_' ~ statut_menace ~ '.png') }}"
                                                alt="{{ _('threatened') }}"
                                                style="width:30px; height:30px;"
                                                data-bs-toggle="tooltip"
                                                title="{{ _('threatened.' ~ statut_menace) }} - {{taxon.niveau_application_menace}}" />
                                        {% endif %}
                                {% endif %}
                            </span>
                        {% endif %}

                        <h5>
                            <span id="name">{{ taxon.nom_complet_html | safe }}</span>
                        </h5>

                        <strong>{{ taxon.nb_obs }}</strong> 
                        {% if taxon.nb_obs == 1 %}{{ _('observation') | lower }}{% else %}{{ _('observations') | lower }}{% endif %} 
                        <br>

                        {{ _('last.obs.in') }} <strong>{{ taxon.last_obs | int }}</strong>

                        <span class="float-end">
                            <a class="badge bg-primary text-decoration-none" href="{{ url_for('main.ficheEspece', cd_nom=taxon.cd_ref) }}"
                               data-bs-toggle="tooltip" 
                               title="{{ _('check.species.sheet') }}" 
                               data-bs-placement="left">
                                <i class="fas fa-list fa-fw"></i> {{ _('species.sheet') }}
                            </a>
                        </span>

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}