{% block navbar %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" role="navigation">
        <a class="navbar-brand" {% if configuration.CUSTOM_LOGO_LINK %}href="{{ configuration.CUSTOM_LOGO_LINK }}"
           target="_blank"{% else %}href="{{ url_for('main.index') }}"{% endif %}>
            <img class="logoStructure" src="{{ url_for('static', filename='custom/images/logo-structure.png') }}"/>
        </a>
        <a class="navbar-brand titreAppli" href="{{ url_for('main.index') }}">{{ configuration.NOM_APPLICATION }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
            </div>
            <div class="form-inline my-2 my-lg-0">
                <div class="mr-sm-2">
                    <i class="fas fa-search form-control-feedback"></i>
                </div>
                <form method="POST" action="" id='searchFormTaxons' role="search">
                    <div class="form-group has-feedback">
                        <input id="searchTaxons" type="text" class="form-control mr-sm-2 ajax-search small-placeholder"
                               placeholder="{{ _('search.specie') }}&nbsp;&nbsp;&nbsp;" loading="false"/>

                    </div>
                    <input id="hiddenInputTaxons" type="hidden" name="cd_ref"/>
                </form>

                <form class="form-inline my-2 my-lg-0" method="POST"
                      onsubmit="completeAction('#searchFormCommunes', hiddenInputCommunes)" id='searchFormCommunes'
                      action=""
                      role="search">
                    <div class="form-group has-feedback">
                        <input id="searchCommunes" type="text"
                               class="form-control mr-sm-2 ajax-search small-placeholder"
                               placeholder="{{ _('search.city') }}&nbsp;&nbsp;&nbsp;">
                    </div>
                    <input id="hiddenInputCommunes" type="hidden" name="insee">
                </form>

                <!--- Languages button and dropdown-->
                <div class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Display languages flags and name, en flag is flag-icon flag-icon-gb-->
                        {% if CURRENT_LANGUAGE=='en' %}
                            <span class="flag-icon flag-icon-gb"></span> {{ AVAILABLE_LANGUAGES[CURRENT_LANGUAGE] }}</a>
                        {% endif %}
                        {% if CURRENT_LANGUAGE!='en' %}
                            <span class="{{"flag-icon flag-icon-" + CURRENT_LANGUAGE }}"> </span> {{ AVAILABLE_LANGUAGES[CURRENT_LANGUAGE] }}</a>
                        {% endif %}
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="{{ url_for('main.set_language', language='en') }}"><span class="flag-icon flag-icon-gb"> </span>  English</a>
                        <a class="dropdown-item" href="{{ url_for('main.set_language', language='fr') }}"><span class="flag-icon flag-icon-fr"> </span>  French</a>
                        <a class="dropdown-item" href="{{ url_for('main.set_language', language='it') }}"><span class="flag-icon flag-icon-it"> </span>  Italian</a>
                    </div>
                </div>
                
                {% if configuration.EXTENDED_AREAS %}
                    {% include 'templates/core/extended_areas_search.html' %}
                {% endif %}
            </div>
        </div>

    </nav>

{% endblock %}