<div class="modal-body credits">
  <p>
    Vous êtes sur le site officiel de l'atlas de la faune et de la flore du Parc national des Ecrins.
  </p>
  <p>
    Adresse : Domaine de Charance - 05000 Gap
    Tél : +33(0)4 92 40 20 10
  </p>
  <h3>Responsable de publication</h3>
  <p>
    Directeur de la publication, responsable légal : Pierre Commenville, directeur.<br/>
    Ce site a pour objectif de mettre à disposition les observations et les connaissances recueillies par les personnels sur la faune et la flore, sensibiliser au respect de l'environnement.
  </p>
  <h3>Réalisation du site Internet</h3>
  <p>
    Le contenu éditiorial et, sauf mention particulière, l'essentiel des productions photographiques sont réalisés par les équipes du Parc national des Ecrins.<br/>
    Coordination : Cédric Dentant, service scientifique.
  </p>
  <p>
    La conception graphique et technique sont effectués par le pôle Système d'informations du Parc national des Ecrins.
  </p>
  <h3>Serveurs et hébergements</h3>
  <p>
    Société OVH, RCS Roubaix-Tourcoing B 424 761 419<br/>
    2, rue Kellerman, 59100 Roubaix
  </p>
  <h3>Traitement et protection des données</h3> 
  <p>
    - Les données personnelles recueillies sur le site résultent de la communication volontaire d'une adresse de courrier électronique lors de l'envoi d'un formulaire. Les adresses électroniques ainsi recueillies ne servent qu'à transmettre les éléments d'information demandés.<br/>
    - Les adresses électroniques collectées ne feront l'objet d'aucune cession à des tiers. Le Parc national des Écrins n'utilise pas de procédés de collecte automatisée de données (cookies, applet java ou active X).<br/>
    - La loi "Informatique et Libertés" du 6 janvier 1978 modifiée par la loi du 6 août 2004 encadre la mise en oeuvre des fichiers ou des traitements de données à caractère personnel qu'ils soient automatisés ou manuels.<br/>
    Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "Informatique et Libertés").<br/>
    Vous pouvez l'exercer par courriel en le précisant lors de votre demande.
  </p>
  <h3>Établissements de liens</h3> 
  <p>
    - Lien depuis des sites tiers vers biodiversite.ecrins-parcnational.fr : le Parc national des Écrins autorise la mise en place d'un lien hypertexte depuis n'importe quel site Internet (sous réserve d'une information préalable), à l'exclusion de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre. Le site doit apparaître dans une nouvelle fenêtre. Les pages du site ne doivent en aucun cas être intégrées à l'intérieur des pages d'un autre site (Frame ou iframe). Dans tous les cas, le Parc national des Écrins se réserve le droit de demander la suppression d'un lien si il estime que le référent (site source) ne respecte pas les règles ainsi définies.
  </p>
  <p>
    - Lien depuis biodiversite.ecrins-parcnational.fr vers des sites tiers : le Parc national des Écrins se réserve le droit de "pointer" vers des sites tiers. Accéder à ces liens ne vous fait pas quitter le site du Parc national des Écrins. Les sites cibles ne sont pas sous le contrôle du Parc national des Écrins, par conséquent celui-ci n'est pas responsable du contenu de ces sites, des liens qu'ils contiennent, ni des changements ou mises à jour qui leur sont apportés.
  </p>
  <h3>Diffusion des données</h3>
  <p>
    Les informations présentées dans l'Atlas du Parc national des Ecrins sont des documents administratifs régis par le Code des relations entre le public et l'administration :
  </p>
  <p>
    <b>1. Modalités de diffusion</b>
  </p>
  <p>  
    Article L300- 1 :<br/>
    « Le droit de toute personne à l'information est précisé et garanti par les dispositions des titres Ier, III et IV du présent livre en ce qui concerne la liberté d'accès aux documents administratifs. »
  </p>
  <p>
    Article L300-2 :<br/>
    « Sont considérés comme documents administratifs, au sens des titres Ier, III et IV du présent livre, quels que soient leur date, leur lieu de conservation, leur forme et leur support, les documents produits ou reçus, dans le cadre de leur mission de service public, par l'Etat, les collectivités territoriales ainsi que par les autres personnes de droit public ou les personnes de droit privé chargées d'une telle mission (...) »
  </p>
  <p>
    Article L300-4 :<br/>
    Toute mise à disposition effectuée sous forme électronique en application du présent livre se fait dans un standard ouvert, aisément réutilisable et exploitable par un système de traitement automatisé. 
  </p>
  <p>
    Article L312-1-1 :<br/>
    « Sous réserve des articles L. 311-5 et L. 311-6 et lorsque ces documents sont disponibles sous forme électronique, les administrations (...) publient en ligne les documents administratifs suivants :
    <br/>
    (...)<br/>
    3° Les bases de données, mises à jour de façon régulière, qu'elles produisent ou qu'elles reçoivent et qui ne font pas l'objet d'une diffusion publique par ailleurs ;
    <br/>
    (...)
  </p>
  <p>
    <b>2. Modalités de non diffusion</b>
  </p>
  <p>
    L'Atlas du Parc national des Ecrins présente l'ensemble des observations réalisées par les agents du Parc national depuis sa création en 1973. Le Parc national pourrait ne pas communiquer des informations dans le respect du cadre juridique suivant :
  </p>
  <p>
    L'article L311-5 précise les documents qui ne sont pas communicables :<br/>
    Ne sont pas communicables les documents administratifs dont la consultation ou la communication porterait atteinte à (…) et aux cas définis à l'article L. 124-4 du code de l'environnement :
  </p>
  <p>
    Article L124-4 du Code de l'Environnement :<br/>
    I.-Après avoir apprécié l'intérêt d'une communication, l'autorité publique peut rejeter la demande d'une information relative à l'environnement dont la consultation ou la communication porte atteinte : 
    <br/>
    (...)<br/>
    2° A la protection de l'environnement auquel elle se rapporte ; <br/>
    <br/>
    3° Aux intérêts de la personne physique ayant fourni, sans y être contrainte par une disposition législative ou réglementaire ou par un acte d'une autorité administrative ou juridictionnelle, l'information demandée sans consentir à sa divulgation ; 
    <br/>
    (...)
  </p>
  <p>
    Article L311-14 :<br/>
    « Toute décision de refus d'accès aux documents administratifs est notifiée au demandeur sous la forme d'une décision écrite motivée comportant l'indication des voies et délais de recours.»
  </p>
  <p>
    <b>3. Modalités de réutilisation des informations</b>
  </p>
  <p>
    Article L321-1 :<br/>
    « Les informations publiques figurant dans des documents communiqués ou publiés par les administrations mentionnées au premier alinéa de l'article L. 300-2 peuvent être utilisées par toute personne qui le souhaite à d'autres fins que celles de la mission de service public pour les besoins de laquelle les documents ont été produits ou reçus.
    <br/>
    Les limites et conditions de cette réutilisation sont régies par le présent titre. »
  </p>
  <p>
    Article L322-1 :<br/>
    « Sauf accord de l'administration, la réutilisation des informations publiques est soumise à la condition que ces dernières ne soient pas altérées, que leur sens ne soit pas dénaturé et que leurs sources et la date de leur dernière mise à jour soient mentionnées. »
  </p>
  <p>
    <b>4. Sanctions</b>
  </p>
  <p>
    Article L326-1 :<br/>
    « Toute personne réutilisant des informations publiques en violation des prescriptions mentionnées aux deuxième et troisième alinéas du présent article est passible d'une amende prononcée par la commission mentionnée au titre IV.
    <br/>
    Le montant maximum de l'amende est égal à celui prévu par l'article 131-13 du code pénal pour les contraventions de 5e classe lorsque des informations publiques ont été réutilisées à des fins non commerciales en méconnaissance des dispositions de l'article L. 322-1 ou des conditions de réutilisation prévues par une licence délivrée à cet effet ou en violation de l'obligation d'obtenir une licence.
    <br/>
    Lorsque des informations publiques ont été réutilisées à des fins commerciales en méconnaissance des dispositions de l'article L. 322-1 ou des conditions de réutilisation prévues par une licence délivrée à cet effet ou en violation de l'obligation d'obtenir une licence, le montant de l'amende est proportionné à la gravité du manquement commis et aux avantages tirés de ce manquement.
    <br/>
    Pour l'application du troisième alinéa, le montant de l'amende prononcée pour sanctionner un premier manquement ne peut excéder un million d'euros. En cas de manquement réitéré dans les cinq années à compter de la date à laquelle la sanction précédemment prononcée est devenue définitive, il ne peut excéder deux millions d'euros ou, s'agissant d'une entreprise, 5 % du chiffre d'affaires hors taxes du dernier exercice clos dans la limite de deux millions d'euros.
    <br/>
    La commission mentionnée au titre IV peut, à la place ou en sus de l'amende, interdire à l'auteur d'une infraction la réutilisation d'informations publiques pendant une durée maximale de deux ans. Cette durée peut être portée à cinq ans en cas de récidive dans les cinq ans suivant le premier manquement.
    <br/>
    La commission peut également ordonner la publication de la sanction aux frais de celui qui en est l'objet selon des modalités fixées par décret en Conseil d'Etat.
    <br/>
    Les amendes sont recouvrées comme les créances de l'Etat étrangères à l'impôt et au domaine.
  </p>
  <h3>Dispositions légales - Propriété</h3> 
  <p>
    Le fait d'accéder au site ne donne pas le droit de l'utiliser sans l'accord du Parc national des Écrins : tous les droits de reproduction sont réservés en vertu de l'article L.122-4 du code de la Propriété intellectuelle.<br/>
    Toute utilisation des ressources (photographiques, iconographiques, textuelles ou relatives à la forme, la mise en page, la structure, les logotypes et les documents téléchargeables...) présentes sur ce site doit faire l'objet d'une autorisation express du Parc national des Écrins.<br/>
    À titre principal, le Parc national des Écrins concède une autorisation de visualisation du contenu du site.
  </p>
  <p>
    Voir aussi la charte graphique pour l'<a href="http://www.ecrins-parcnational.fr/logos-et-photos-mode-demploi" target="_blank">utilisation des logos et photos</a>.
  </p>
  <p>
    <b>Responsabilité</b>
  </p>
  <p>
    Le Parc national des Écrins s'efforce de maximiser l'exactitude des informations mais ne peut la garantir ni en établir l'exhaustivité. Le Parc national des Écrins décline donc toute responsabilité en cas d'erreur ou d'omission.<br/>
    Le Parc national des Écrins se réserve le droit de modifier, tout ou partie des informations contenues dans les pages de ce site Internet, à tout moment et sans notification préalable.<br/>
    Il appartient à l'utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par d'éventuels virus circulant sur le réseau Internet. De manière générale, le Parc national des Écrins décline toute responsabilité à un éventuel dommage survenu pendant la consultation du présent site.<br/>
  </p>
  <p>
    <b>Lois de référence</b>
  </p>
  <p>
    Loi 78-17 du 6 janvier 1978 Loi relative à l'informatique, aux fichiers et aux libertés<br/>
    Loi du 29 juillet 1881 Loi sur la liberté de la presse
  </p>
</div>