{% block navbar %}
{% if configuration.MULTILINGUAL %}
<script type="text/javascript"> 
    var language = '{{ '/' + g.lang_code }}';
</script>
{% else %}
<script type="text/javascript">
    var language = '' ;
</script>
{% endif %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" role="navigation">
    <a class="navbar-brand" {% if configuration.CUSTOM_LOGO_LINK %}href="{{ configuration.CUSTOM_LOGO_LINK }}"{% else %}href="{{ url_for('main.index') }}"{% endif %}>
        <img class="logoStructure" src="{{ url_for('static', filename='custom/images/logo-structure.png') }}"/>
    </a>
    <a class="navbar-brand titreAppli" href="{{ url_for('main.index') }}">{{ configuration.NOM_APPLICATION }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto">
        </div>

        <div class="d-flex align-items-center flex-wrap gap-2">
            <div>
                <i class="fas fa-search form-control-feedback"></i>
            </div>

            <form method="POST" action="" id="searchFormTaxons" role="search" class="d-flex align-items-center">
                <div class="form-group has-feedback me-2">
                    <input id="searchTaxons" type="text" class="form-control ajax-search small-placeholder"
                           placeholder="{{ _('search.species') }}&nbsp;&nbsp;&nbsp;" loading="false" style="width: 175px;" />
                </div>
                <input id="hiddenInputTaxons" type="hidden" name="cd_ref"/>
            </form>

            <form method="POST" class="d-flex align-items-center">
                <div class="form-group has-feedback me-2">
                    <input id="searchAreas" type="text" style="width: 175px;"
                           class="form-control ajax-search small-placeholder"
                           placeholder="{{ translations.search_area }}&nbsp;&nbsp;&nbsp;">
                </div>
                <input id="hiddenInputAreas" type="hidden" name="id_area">
            </form>

            <!-- Languages button and dropdown displayed if MULTILINGUAL is True -->
            {% if configuration.MULTILINGUAL %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" id="dropdown09" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- Display languages flags and name, en flag is flag-icon flag-icon-gb -->
                    <span class="flag-icon {{ configuration.AVAILABLE_LANGUAGES[g.lang_code]['flag_icon'] }}"></span>
                    <div class="d-none d-lg-block ms-2">{{ configuration.AVAILABLE_LANGUAGES[g.lang_code]['name'] }}</div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown09">
                    {% for language in configuration.AVAILABLE_LANGUAGES %}
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for(request.endpoint, lang_code=language, **request.view_args) }}">
                            <span class="flag-icon {{ configuration.AVAILABLE_LANGUAGES[language]['flag_icon'] }}"></span>
                            <div class="d-none d-lg-block ms-2">{{ configuration.AVAILABLE_LANGUAGES[language]['name'] }}</div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}
