<div id="statut-bdc">
  <ul class="groupes-list {% if groupesStatutsHaveLabels %}with-labels{% else %}without-labels{% endif %}">
  {% for groupe in groupesStatuts %}
    <li>
      {% if groupe.label %}
        <span class="groupe-label"><strong>{{ groupe.label }}</strong></span>
      {% endif %}

      <ul class="statuts-list">
      {% for statut in groupe.statuts %}
        {% if statut.cd_type_statut == 'ZDET' %}
          <li>
            <span
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="{{ statut.lb_type_statut }} ({{ statut.lb_adm_tr }}) : {{ statut.label_statut }}"
            >
              <img
                src="{{ url_for('static', filename='images/znieff_logo_small.png') }}"
                alt="{{ statut.label_statut }}"
                class="img-statut-bdc img-fluid">
            </span>
          </li>
        {% elif statut.cd_type_statut[:2] == 'LR' %}
          {% if 'Nicheur' in statut.rq_statut or 'nicheur' in statut.rq_statut %}
            {% set population = 'Nicheur' %}
          {% elif 'Visiteur' in statut.rq_statut or 'visiteur' in statut.rq_statut %}
            {% set population = 'Visiteur' %}
          {% elif 'Hivernant' in statut.rq_statut or 'hivernant' in statut.rq_statut %}
            {% set population = 'Hivernant' %}
          {% endif %}
          {% if population %}
            {% set cd_type_statut = statut.cd_type_statut + population|first|lower %}
          {% else %}
            {% set cd_type_statut = statut.cd_type_statut %}
          {% endif %}
          <li>
            <span
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="{{ statut.lb_type_statut }} ({{ statut.lb_adm_tr }}{% if population %} - {{ population }}{% endif %}) : {{ statut.label_statut }}"
            >
              {{ cd_type_statut }} :
              <span class="{{ statut.code_statut }} bloc-statut-bdc">{{ statut.code_statut }}</span>
            </span>
          </li>
        {% else %}
          <li>
            <span
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="{{ statut.lb_type_statut }} ({{ statut.lb_adm_tr }}) : {{ statut.label_statut }}"
            >
              <span class="bloc-statut-bdc">
                {{ statut.cd_type_statut }} ({{ statut.cd_sig }}) : {{ statut.code_statut }}
              </span>
            </span>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
