{% block  statHierarchy %}
    <ul id="statHierarchy">
        <li class="border-right">
            <i class="fas fa-search fa-2x"></i><br/>
            {#                    <span data-icon="&#xe037;" style="font-size: 30px;"></span><br/>#}
            <b>{{ listTaxons.nbObsTotal | pretty }}</b><br/>{{ 'observations' if listTaxons.nbObsTotal > 1 else 'observation' }}
        </li>
        <li class="border-right">
            <i class="fa fa-leaf fa-2x"></i><br/>
            {#                    <span data-icon="&#xe03b;" style="font-size: 30px;"></span></br>#}
            <b>{{ listTaxons.taxons|length | pretty }}</b><br/>{{ 'espèces' if listTaxons.taxons|length > 1 else 'espèce' }}
        </li>
        <li><i class="fa fa-users fa-2x"></i></br>
            {#                    <span data-icon="&#xe040;" style="font-size: 30px;"></span></br>#}
            <b>{{ observers | length | pretty }}</b><br/>{{ 'observateurs' if observers|length > 1 else 'observateur' }}
        </li>
    </ul>
{% endblock %}