[
  {
    "term" : "pistil, pistils",
    "description" : "Organe reproducteur femelle, situé au centre de la fleur, généralement composé de l'ovaire, du style et du stigmate"
  },
  {
    "term" : "endémique, endémiques",
    "description" : "Une espèce est dite endémique d'une région déterminée si elle n'existe que là <br/><img src='http://fr.academic.ru/pictures/frwiki/50/290px-BlackBirdDistrib.svg.png'/>"
  }
]