// Fonction style d'affichage des points dans la fiche espèce
var pointDisplayOptionsFicheEspece = (pointDisplayOptionsFicheCommuneHome = function(
  feature
) {
  return {
    fillColor: feature.properties.diffusion_level < 5 ? "#3A9D23" : "#3388ff",
    color: feature.properties.diffusion_level < 5 ? "#3A9D23" : "#3388ff"
  };
});

// Légende des points dans la fiche espèce
var divLegendeFicheEspece = (divLegendeFicheCommuneHome =
  '\
    <p><div>\
        <i class="circle" style="border: 3px solid #3A9D23; border-radius: 50%; width: 20px; height: 20px;"></i>Dégradées\
    </div></p>\
    <p><div>\
        <i class="circle" style="border: 3px solid #3388ff; border-radius: 50%; width: 20px; height: 20px;"></i>Non dégradées\
    </div></p>\
');
