body {
	background-color: #E3E7E8;
	padding-top: 50px;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom-color: #333333;
}

.ui-autocomplete {
    z-index: 2000;
}

#page {
  padding-left: 40px;
  padding-right: 0px;
  margin-top: 20px;
}

/* Sidebar */

#sideBar{
	position: fixed;
	width: 40px;
	background-color: #333333;
	height: 100%;
}

#sidebar_menu {
	list-style: none;
	padding: 0px;
	padding-left: 25%;
	width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

#sidebar_menu li{
	margin-bottom: 30px;
}

#sidebar_menu a {
	color: white;
}

#sidebar-wrapper span {
	font-size: 120%;
}

#sidebar-wrapper a:hover{
	cursor: pointer;
	color: black;
}

/* END sidebar */

.slider-size {
    height: 150px; 
    width: 100%;
	background-position: center center;
	background-size: cover;
}

@media (min-width: 768px)
.slider-size {
    height: 300px; 
}

.slider-size:hover{
    cursor:pointer;
    visibility: visible;
}

/* Legend MAPS */

.legend {
    line-height: 10px;
    color: #555;
    background-color: white;
    opacity: 0.7;
	padding: 5px;
	border-radius: 4px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.legend:hover {
	opacity: 1;
}

.generalLegend{
	line-height: 18px;
	opacity: 1;
	padding: 5px;
}


#searchTaxons{
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position-x: calc(100% - 25px);
    cursor: grab;
}

