body {
	background-color: #E3E7E8;
}


.navbar {
	border: 0px !important;
	border-radius: 0px;
}


#sideBar{
	position: absolute;
	width: 40px;
	background-color: #7F8182;
	height: 1000000px;
}
#sidebar_menu {
	list-style: none;
	padding: 0px;
	padding-left: 25%;
	width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

#sidebar_menu li{
	margin-bottom: 30px;
}

#sidebar_menu a {
	color: white;
}

#sidebar-wrapper span {
	font-size: 120%;
}

#sidebar-wrapper a:hover{
	cursor: pointer;
	color: black;
};