body {

	background-color: #E3E7E8;
}

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom-color: #148A1F;
}

.container-fluid{
	padding-left: 0px;
}

#sideBar{
	width: 40px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0px;
	margin-top: -20px;
	padding-top: 15px;
	background-color: #148A1F;
	height: 1000px;
	text-align: center;
}
#sidebar_menu {
	list-style: none;
	padding-left: 0px;
}

#sidebar_menu li{
	margin-bottom: 20px;
}

#sidebar_menu a {
	color: white;
}

#identityPanel{
	padding-right: 5px;
}

#taxonIdentity{
	padding-left: 15px;
}

#rowImg{
	margin-left: 0px;
}

#imgCol{
	padding-right: 0px;
	padding-left: 0px;
/}

/*Display legend on images */

p.imgDescription {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0.5;
  margin-bottom: 0px;
  padding: 5px;
}

p.imgDescription.main {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0.5;
  margin-bottom: 0px;
  padding: 5px;
}


.imgWrapper:hover p.imgDescription {
  visibility: visible;

}




#logoCol{
	padding-left: 0px;
}

#logoImg{
	padding-top: 5px;
} 

.nav>li>a {
	padding: 10px 7px;
}


#mapContainer {
	padding-right: 0px;
}

#mapStat {
	text-align: center;
	padding-left: 0px;
}


#map{

 height: 600px; 
}


#mapStat li {
	margin-top: 15px;
	margin-bottom: 20px;
	display: inline-block; 
    width: 100px;
    text-align: center;
    list-style-type: none; 
}

#mapStat img{
	margin-bottom: 10px;
}

#mapStat ul {
	padding: 0px;
}

#picto img{
	padding-right: 10px;
}

#otherInformations{
	padding-right: 20px;
	padding-left: 20px;
}

#mapPanel{
	margin-bottom: 2px;
}

#mapOptionPanel{
	padding-top: 10px;
}



.nav {
	margin-bottom: 10px;
}







#slider .slider-track-high, #slider12c .slider-track-high {
	background: green;
}

#slider12b .slider-track-low, #slider12c .slider-track-low {
	background: red;
}

.slider-selection {
	background: #909596;
}


h5#buttonChild:hover {
	cursor: pointer
}


.legend {
    line-height: 10px;
    color: #555;
     background-color: white;
    opacity: 0.7;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;

}

.legend:hover{
	opacity: 1;
}

/* graphiques */

#graphContainer {
	margin-left: 30px;
	padding: 10px;
	padding-bottom: 15px;
	background-color: white;
}

#graphContainer h3 {
	margin-top: 0px;
}
#altiChart {
	background-color: white;
}

svg {
	margin: 10px;
	padding-right: 13px;
	padding-left: 10px;
}

rect{
	fill: #2466D1;
}

rect.highlight {
    fill: purple;
}

text {
	color: blue;
}

.boxShadow {

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.leaflet-bar.leaflet-control.leaflet-control-custom img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;

}

.generalLegend{
	line-height: 18px;
	opacity: 1;
}



/*Carousel*/

.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}

  #fixed .slider-size {
    height: 300px; 
    width: 100%;
  }


.carousel-caption {
  right: 0%;
  left: 0%;
  padding: 10px;
}

.carousel-indicators {
  bottom: 0px;
}

