
body {
	background-color: #a0aabf;
}

#page {
	background-color: lightgrey;
}

#presentationEspece{
	padding: 0px;	
	margin: 10px;

}

#mapRow{
	margin: 35px;
	margin-top: 5px;
}
#mapContainer {
	padding: 10px;
	background-color: white;
}

#mapOptions {
	margin: 20px;
	margin-bottom: 0px;
}

#map{

 width: 100%; height: 400px; }

#presentationEspece h3 {
	margin : 0px;
}