#identityPanel{
	padding-right: 5px;
}

#taxonIdentity{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
}

#taxonIdentity h3{
	margin-top: 5px;
}

#rowImg{
	margin-left: 0px;
}

#imgCol{
	padding-right: 0px;
	padding-left: 0px;
/}

/*Display legend on images */

p.imgDescription {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0.5;
  margin-bottom: 0px;
  padding: 5px;
}

p.imgDescription.main {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0.5;
  margin-bottom: 0px;
  padding: 5px;
}

.imgWrapper:hover p.imgDescription {
  visibility: visible;
}

#logoCol {
	padding-left: 0px;
	position: absolute;
	right: 4%;
	top: 10%;
}

.nav>li>a {
	padding: 10px 7px;
}

#mapContainer {
	padding-right: 0px;
}

#mapStat {
	text-align: center;
	padding-left: 0px;
}

#map {
	height: 600px; 
}

#loadingGif {
	position: relative;
	left:50%;
	top:200px;
	z-index: 1000000;
}

#mapStat li {
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block; 
    width: 100px;
    text-align: center;
    list-style-type: none; 
}

#mapStat img{
	margin-bottom: 10px;
}

#mapStat ul {
	padding: 0px;
}


/*Medias*/

i.btn-more {
    position: relative;
    float: right;
}

i.btn-more:hover{
	cursor: pointer;
}

hr.small-hr {
	margin: 5px;
}

/*END*/


/*Other Informations block*/

#otherInformationsPanel{
	margin-top: 20px;
}

#otherInformations{
	padding-right: 20px;
	padding-left: 20px;
}

div#otherInformations{
	padding-top: 10px;
}

.hiddenRow {
    padding: 0 !important;
}

tr.accordion-toggle {
	cursor: pointer;
}

/*END*/

#picto img{
	padding-right: 10px;
}

#mapPanel{
	margin-bottom: 2px;
}

#mapOptionPanel{
	padding-top: 10px;
}

.nav {
	margin-bottom: 10px;
}

#slider .slider-track-high, #slider12c .slider-track-high {
	background: green;
}

#slider12b .slider-track-low, #slider12c .slider-track-low {
	background: red;
}

.slider-selection {
	background: #909596;
}

h5#buttonChild:hover {
	cursor: pointer
}


/* Graphiques */

#altiChart {
	background-color: white;
}

#graphBloc svg {
	padding: 5px;
}

text {
	color: blue;
}

.leaflet-bar.leaflet-control.leaflet-control-custom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}


/*Carousel*/

.carousel {
	width:100%; 
	margin:0 auto; /* center your carousel if other than 100% */ 
}

#fixed .slider-size {
    height: 300px; 
    width: 100%;
}

.carousel-caption {
  right: 0%;
  left: 0%;
  padding: 10px;
}

.carousel-indicators {
  bottom: 0px;
}
