.textIntroduction{
  padding-left: 30px;
}


.textIntroduction a{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*Stat block*/

.stat-panel{
  padding: 10px;
}

.stat-object{
  min-height: 200px;
}

.stat-object .form-control{
    width: 100%;
}

.stat-thumbnail{
  text-align: center;
  background-color:  #E3E7E8;
  margin-bottom: 0px;
  border-radius: 0px;
}

.stat-thumbnail span {
	font-size: 40px;
}

.panel-heading h3 {
	margin: 0px;
}

#searchTaxonsStat{
	background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position-x: calc(100% - 25px);
    cursor: grab;
}


/*Custom Stat Block*/

.row-medias{
  margin-right: -5px;
  margin-left: -5px;
}

.stat-medias-wrapper{
  padding-left: 5px;
  padding-right: 5px;
}

.stat-custom-panel {
  padding: 10px;
}

.stat-custom-panel span {
  font-size: 15px;
}

.statMedias{
  text-align: center;
  float: left;
  width: 100%;
}

.thumbnail-stat-medias{
  padding: 0px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.thumbnail-caption-medias{
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-stat-medias{
  padding-right: 5px;
  padding-left: 5px;
}

.zoom-wrapper a:link {
    text-decoration: none;
}

.zoom-wrapper{
	overflow: hidden;
}

.img-custom-medias{ /* Override atlas.css class */
    height: 150px;
}

@media (max-width: 992px) {
.img-custom-medias{
    height: 400px;
    }
}

.stat-medias-hovereffet{
  display:none;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   padding: 6px;
   width: 100%;
}

.zoom-wrapper:hover .stat-medias-hovereffet{
	display: block;
}



.overlay-obs{
	color:#fff;
	text-align:center;
	position:relative;
	top:100px;
	font-size:13px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
	text-decoration: none;
}

.zoom-wrapper:hover .img-custom-medias{
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

.stat-object a{
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* END Stat Block */


/* Latest observations */

#DernieresObservations {
	clear: both;
}

#mapRow {
	max-height: 600px;
}

#map {
	width: 100%; 
	height: 600px;
}

@media (min-width: 992px) {
#blocMap {
	padding-right: 0px;
	}
}

@media (min-width: 992px) {
#listMap {
	padding-left: 0px;
	}
}

.pictoImg {
	width: 100%;
    background-position: center center;
    background-size: cover;
	height: 60px;
	border-radius: 6px;
	min-width: 60px;
}

table#tableEspece {
  display: block;
  max-height: 600px;
  overflow-y: scroll;
  background: white;
}

.tabEspece:hover {
	background-color: #cccccc;
}

.tabEspece.current {
	background-color: #e6e6e6;
	font-weight: bold;
}

.singleTaxon {
 	cursor: pointer
}

td.singleTaxon.name {
  width: 50%;
}

td.singleTaxon.img {
  width: 15%;
  text-align: center;
}

td.singleTaxon.date {
  width: 30%;
}

td.singleTaxon.detail {
  width: 1%;
}

.singleTaxon .glyphicon {
	color: #333333;
	font-size: 1.5em;
}


/* END Latest observations */


/*// BLOCK actual species */

#mostViewNow {
	clear: both;
}

.default-logo{
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

.thumbnail-row{
  margin: 0px;
  margin-top: 10px;
}

.thumbnail-col{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.higlight {
  font-size: 20px;
}

.helpTip {
	color: #333333;
	font-size: 16px;
	top: -5px;
	left: 3px;
}
