
body {
	background-color: #E3E7E8;
}

.navbar{
	margin-bottom: 0px;
}

#page {
	background-color: #E3E7E8;
}


.textIntroduction{
  padding-left: 20px;
}


/*Stat block*/

.stat-panel{
  padding: 10px;
}

.stat-thumbnail{
  text-align: center;
  background-color:  #E3E7E8;
  margin-bottom: 0px;
  border-radius: 0px;
}
.stat-thumbnail span {
  font-size: 40px;
}

.panel-heading h3 {
  margin: 0px;
}

button:focus {outline:0;}

.stat-thumbnail button{
  padding: 6px 12px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border-color: black;
}

.stat-thumbnail button:hover{
  background-color: #E3E7E8;
  color: black;
  border-color: black;
}

.stat-thumbnail input{
  border-color: black;
}

/*Custom Stat Block*/

.stat-custom-panel {
  padding: 10px;
}

.stat-custom-panel span {
  font-size: 15px;
}

.statMedias{
  text-align: center;
  float: left;
  width: 100%;
}
.thumbnail-stat-medias{
  padding: 0px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.thumbnail-caption-medias{
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

  .slider-size {
    height: 150px; 
    width: 100%;
  }



/*END*/

#mapRow{

  max-height: 600px;
}


#map{
  width: 100%; height: 600px;
  }

#listMap{
  padding-left: 0px;
}

#tableEspece{
  max-height: 550px;
}

td.singleTaxon.name {
  width: 50%;
}

td.singleTaxon.img {
  width: 15%;
}


#statContainer{
  float: left;
}

ul#stat {
  float: left;
  padding-left: 0px;
}

#stat li {
    float: left;
    width: 90px;
    text-align: center;
    list-style-type: none; 
}


.float  {
  float:left;
}


 .legend {
    line-height: 16px;
    color: #555;
     background-color: white;
    opacity: 1;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;

}

 .singleTaxon{
 	cursor: pointer
 }

table#tableEspece {
  display: block;
  max-height: 600px;
  overflow-y: scroll;
}

.caption h4 {
  float: left;
}

/*// Block most observations
*/
.default-logo{
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

.img-responsive-logo{
  width: 100%;
}

.thumbnail-row{
  margin: 0px;
  margin-top: 10px;
}

.thumbnail-col{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}





/* Effect on hover*/


.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
height: 250px;
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
color:#fff;
border:1px solid #fff;
border-radius: 10px ;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
