
body {
	background-color: #E3E7E8;
}

.navbar{
	margin-bottom: 0px;
}

#page {
	background-color: #E3E7E8;
}

#mapRow{
	margin: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#mapContainer {
	padding: 10px;
	background-color: white;
}

#map{
  width: 100%; height: 600px;
  }

#listMap{
  max-height: 6f00px;
}

#statContainer{
  float: left;
}

ul#stat {
  float: left;
  padding-left: 0px;
}

#stat li {
    float: left;
    width: 90px;
    text-align: center;
    list-style-type: none; 
}


.float  {
  float:left;
}


 .legend {
    line-height: 16px;
    color: #555;
     background-color: white;
    opacity: 1;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;

}

 .singleTaxon{
 	cursor: pointer
 }

table#tableEspece {
  display: block;
  height: 600px;
  overflow-y: scroll;
}

.caption h4 {
  float: left;
}


/* Effect on hover*/

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a>img{
	margin-top: 30px;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.leaflet-bar.leaflet-control.leaflet-control-custom img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;

}


.generalLegend{
  opacity: 1;
  line-height: 20px;
  
}

.generalLegend i {

  margin: 5px;

}