
.panel {
	margin-top: 10px;
	padding: 5px;
}

#presentation{
	height: 20%;
}

#corps{
	height: 80%;
}


.navbar{
	margin-bottom: 0px;
}

#page {
	background-color: #E3E7E8;
}	

#mapWrapper{
	position: fixed;
	left: 58%;
}

#mapContainer {
	margin-top: 10px;
}

#map{
	height: 600px;
  }

 .legend {
    line-height: 16px;
    background-color: white;
    opacity: 0.7;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;

}

#clear {
	clear:both;
}

#parent{
	text-align: center;
	margin-top: 10px;
	height: 140px;
}


table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}



.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	padding: 0px;
	border: none;
}

#myTable_wrapper {
	margin: 10px
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
cursor: default;

}

.boxShadow {

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#idContainer {
	float: left;
}

#stat li {

	float: left;
    width: 100px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    list-style-type: none; 
}

ul#stat {
	float: left;
	padding: 5px;
	margin-bottom: -65px;
	margin-left: 32%;

}

.leaflet-bar.leaflet-control.leaflet-control-custom img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;

}


.generalLegend{
	opacity: 1;
	line-height: 20px;
	
}

.generalLegend i {

	margin: 5px;

}

