.panel {
	margin-top: 10px;
	padding: 5px;
}

#mapWrapper {
	position: fixed;
	left: 58%;
}

#mapContainer {
	margin-top: 10px;
}

#map {
	height: 600px;
}

#clear {
	clear:both;
}

#parent{
	text-align: center;
	margin-top: 10px;
	height: 140px;
}

table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	padding: 0px;
	border: none;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	cursor: default;
}

#stat li {
	float: left;
    width: 100px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    list-style-type: none; 
}

ul#stat {
	float: left;
	padding: 5px;
	margin-bottom: -65px;
	margin-left: 32%;
}

#statHierarchy li {
	float: left;
    width: 100px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    list-style-type: none; 
}

ul#statHierarchy {

}

.leaflet-bar.leaflet-control.leaflet-control-custom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;

}

.generalLegend {
	opacity: 1;
	line-height: 20px;
}

.generalLegend i {
	margin: 5px;
}

.eye {
	padding-left: 20%
}

.displayObs {
	cursor: pointer;
}

#loadingGif {
	z-index: 1000000;
	position:absolute;
	left: 40%;
	top: 40%;
}


/*Map Legend */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 12px;
    color: #555;
    opacity: 0.5
}

.legend:hover{
	opacity: 1;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.hiddenSpan{
	visibility: hidden;
}