#
#  GeoNature-atlas
#  Configuration PostgreSQL
#..........................

# Effacer la base de donnée existante lors de l'installation
drop_apps_db=false

# Host de la base de données de l'application
db_host=geonatdbhost

# Port pour base de données de l'application
db_port=5432

# Nom de la base de données de l'application
db_name=geonatureatlas

# Nom de l'utilisateur propriétaire de la base PostgreSQL
user_pg=geonatatlas

# Nom du superutilisateur PostgreSQL
admin_pg=geonatadmin

# Password du propriétaire de la base geonaturedb
user_pg_pass=monpassachanger

# Password du superuser de la base geonaturedb
admin_pg_pass=monpassachanger

#####SOURCES#####

# Host de la base de données source Geonature 
db_source_host=localhost

# Port pour la base de données source Geonature
db_source_port=5432

# Nom de la base de données source Geonature
db_source_name=geonaturedb

# Nom du user admin sur la base de données source
admin_source_user=geonatadmin

# Pass du user admin sur la base de données source
admin_source_pass=monpassachanger

# Nom du user atlas sur la base de données source (lecture seule)
atlas_source_user=geonatatlas

# Pass du user atlas sur la base de données source (lecture seule)
atlas_source_pass=monpassachanger
