#page li a {
    color: var(--main-color);
}

#identityCard {}

#taxonIdentity {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#taxonIdentity h3 {
    margin-top: 5px;
}

#rowIdentity {
    margin-left: 0px;
    margin-right: 0px;
}

#imgCol {
    padding-right: 0px;
    padding-left: 0px;
}

#mainImg {
    width: 100%;
}

.caractEspece {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

#btn-taxons-fils {
    margin-top: 20px;
}

/*Display legend on images */

p.imgDescription {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: black;
    color: #fff;
    visibility: hidden;
    opacity: 0.5;
    margin-bottom: 0px;
    padding: 5px;
}

p.imgDescription.main {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: black;
    color: #fff;
    visibility: hidden;
    opacity: 0.5;
    margin-bottom: 0px;
    padding: 5px;
    text-decoration: none;
}

.imgWrapper:hover p.imgDescription {
    visibility: visible;
}

#zoomPhotos {
    position: absolute;
    top: 92%;
    left: 95%;
    color: white;
}

/*  */

#groupLogoCol {
    padding-left: 0px;
    position: absolute;
    right: 2%;
    top: 4%;
}

#taxonName {
    max-width: 85%;
}

#taxonomy {
    margin-top: 15px;
}

#inpnLink {
    margin-top: 15px;
}

#taxonName {
    display: flex;
    justify-content: space-between;
}

#statuts-and-links-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: start;
    margin: 1.5rem 0;
}

.nav>li>a {
    padding: 10px 7px;
}

#mapContainer {
    padding-right: 0px;
}

#area a {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.2s ease-in-out;
}

#area a:hover {
    text-decoration: underline;
    color: var(--third-color);
}

/* Slider temporel sur la carte */

#mapContainer .leaflet-bar.leaflet-control.leaflet-slider-control {
  margin: 0 0 0 10px !important; /* Supprime les marges inutiles */
  /*margin-left: 10px !important;*/
  width: fit-content !important; /* Adapte la largeur au contenu */
  min-width: 250px; /* Pour éviter un trop petit encart */
  max-width: 100%; /* Empêche le dépassement */
  height: auto !important; /* Ajuste automatiquement la hauteur */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapContainer .leaflet-bottom.leaflet-left {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

/* Optimisation pour les petits écrans */
@media (max-width: 950px) {

  #mapContainer #contour-legend {
    margin-bottom: 80px;
  }

  #mapContainer .slider.slider-horizontal {
    width: 160px;
  }
}

@media (max-width: 400px) {

  #mapContainer #contour-legend {
    margin-bottom: 110px;
  }

  #mapContainer .slider.slider-horizontal {
    width: 160px;
  }
}

#mapStat {
    text-align: center;
    padding-left: 0px;
}

#map {
    height: 650px;
}

#loadingGif {
    position: relative;
    left: 50%;
    top: 200px;
    z-index: 1000;
}

#mapStat li {
    margin-top: 12px;
    margin-bottom: 12px;
    display: inline-block;
    width: 100px;
    text-align: center;
    list-style-type: none;
}

#mapStat img {
    margin-bottom: 10px;
}

#mapStat ul {
    padding: 0px;
}

/* Liens importants */

.liens-importants-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.7rem 0.7rem;
}

.lien-important {
  display: flex;
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
}

.lien-important:hover {
  background-color: var(--second-color);
  color: white;
  text-decoration: none;
}

/*Medias*/

i.btn-more {
    position: relative;
    float: right;
}

i.btn-more:hover {
    cursor: pointer;
}

hr.small-hr {
    margin: 5px;
}

/* Bloc d'infos sur l'espèce */

#blocInfos {
    padding: 10px;
}

.glossarizer_replaced {
    border-bottom: 1px #333 dotted;
    cursor: help;
    display: inline;
}

/*Other Informations block*/

#otherInformationsPanel {
    margin-top: 20px;
}

#otherInformations {
    padding-right: 20px;
    padding-left: 20px;
}

div#otherInformations {
    padding-top: 10px;
}

.hiddenRow {
    padding: 0 !important;
}

tr.accordion-toggle {
    cursor: pointer;
}

/*END*/

#picto img {
    padding-right: 10px;
}

#mapCard {
    margin-bottom: 2px;
}

#mapOptionPanel {
    padding-top: 10px;
}

.nav {
    margin-bottom: 10px;
}

#slider .slider-track-high,
#slider12c .slider-track-high {
    background: green;
}

#slider12b .slider-track-low,
#slider12c .slider-track-low {
    background: red;
}

.slider-selection {
    background: #909596;
}

/* Slider années sur la carte des observations */
.slider-handle {
    background-color: #333333 !important;
    background-image: linear-gradient(to bottom, #333333 0, #5d5d5d 100%);
}

h5#buttonChild:hover {
    cursor: pointer;
}

/* Graphiques */

#altiChart,
#phenologyChart {
    background-color: white;
    height: 200px;
}

#graphBloc svg {
    padding: 5px;
}

rect {
    fill: var(--main-color);
}

rect.highlight {
    fill: #333333;
    padding: 5px;
}

text {
    color: blue;
}

.leaflet-bar.leaflet-control.leaflet-control-custom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

/*Carousel*/

.carousel {
    width: 100%;
    margin: 0 auto;
    /* center your carousel if other than 100% */
}

#fixed .slider-size {
    height: 300px;
    width: 100%;
}

.carousel-caption {
    right: 0%;
    left: 0%;
    padding: 10px;
}

.carousel-indicators {
    bottom: 0px;
}

.type_name {
    font-weight: bold;
}

.territories_name {
    padding: 1rem;
}

#organisms>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding:0;
}

#organisms>ul .media-body {
    gap: 0.5rem;
}

#organisms>ul h3 {
    font-size: 1.5rem;
}

div#statut-bdc span.NT {
	background-color: #fbf2ca ;
} 

div#statut-bdc span.LC {
	background-color: #78b74a ;
}

div#statut-bdc span.EN {
	background-color: #fbbf00 ;
}

div#statut-bdc span.VU {
	background-color: #ffed00 ;
}

div#statut-bdc span.CR {
	background-color: #d3001b ;
}

div#statut-bdc span.RE {
	color: white;
	background-color: #5a1a63 ;
}

div#statut-bdc span.EW {
	color: white;
	background-color: #3d1951 ;
}

div#statut-bdc span.EX {
	color: white;
	background-color: black ;
}

div#statut-bdc span.NA {
	color: white;
	background-color: #919291 ;
}

div#statut-bdc span.NE {
	background-color: white ;
}

div#statut-bdc span.DD {
	background-color: #d3d4d5 ;
}

div#statut-bdc span.DHFF {
  color: white;
	background-color: #afdde9 ;
}

div#statut-bdc span.PN {
  color: white;
	background-color: #ffccaa ;
}

div#statut-bdc {
  margin: 1.5rem 0;
}

div#statut-bdc span.bloc-statut-bdc {
  border: solid 2px grey;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

/* statuts groupes sans labels : tout inline avec espacement margin */

div#statut-bdc ul.groupes-list.without-labels,
div#statut-bdc ul.groupes-list.without-labels ul.statuts-list {
  display: inline;
  margin: 0;
  padding: 0;
}

div#statut-bdc ul.groupes-list.without-labels > li {
  display: inline;
}

div#statut-bdc ul.groupes-list.without-labels span.groupe-label {
  white-space: nowrap;
}

div#statut-bdc ul.groupes-list.without-labels {
  margin-right: 1rem;
}

div#statut-bdc ul.groupes-list.without-labels ul.statuts-list > li {
  margin-right: 1rem;
  white-space: nowrap;
}

/* statuts groupes avec labels : display flex avec espacement gap*/

div#statut-bdc ul.groupes-list.with-labels,
div#statut-bdc ul.groupes-list.with-labels ul.statuts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 0.5rem 1.3rem;
}

div#statut-bdc ul.groupes-list.with-labels > li {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.4rem;
}

div#statut-bdc ul.groupes-list.with-labels {
  gap: 0.5rem 1.3rem;
}

div#statut-bdc ul.groupes-list.with-labels ul.statuts-list {
  gap: 0.2rem 1.3rem;
}


div#statut-bdc ul.statuts-list li {
  display: inline;
}

div#statut-bdc .img-statut-bdc {
    max-height: 1.3rem;
}