.panel-default > .panel-heading {
  border-color: transparent !important;
}


h4.title-spaced {
  margin-top: 0px;
}

#overlay {
  /* position: absolute; */
  padding: 10px;
  color: white;
}

.back-img {
  padding: 0px;
  margin-top: -20px;
  background-size: contain;
  background-attachment: fixed;
  height: 60vh;
  background-repeat: no-repeat;
}

#presentation-text {
  font-size: 15px;
}

.btn-intro {
  font-size: 20px;
  border-radius: 0px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 0.8rem;
  transition: all 0.2s;
}

.btn-success {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-success:hover {
  background-color: var(--second-color);
  border-color: var(--second-color);
}

h4 {
  font-size: 20px;
}

.padding-sm {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.no-padding {
  padding-right: 0px;;
  padding-left: 0px;;
}

.large {
  font-size: 3rem;
}

.muted {
  color: grey;
}

/*.text-muted {*/
/*  text-transform: uppercase;*/
/*  font-weight: 700;*/
/*  font-size: 1.5rem;*/
/*}*/

.title-spaced {
  letter-spacing: 0.025em;
  line-height: 38px;
}

.textIntroduction {
  padding-left: 30px;
}

#textIntroduction {
  padding-left: 30px;
  /* position: absolute; */
  color: white;
}

.textIntroduction a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h3.title-spaced {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/* Bandeau de logos (slider slick) en page accueil */

.slidepartenaireindex {
  width: 280px;
}

.slidepartenaireindex img {
  max-width: 80%;
  margin: auto;
}

.slick-prev::before,
.slick-next::before {
  color: #1e1b0c;
}

/*Stat block*/

.stat-object {
  min-height: 200px;
}

.stat-object .form-control {
  width: 100%;
}

.stat-thumbnail {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 10px;
}

.stat-thumbnail span {
  font-size: 40px;
}

.panel-heading h3 {
  margin: 0px;
}

#searchTaxonsStat,
#searchAreasStat {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position-x: calc(100% - 25px);
  outline: none;
}

.addon {
  position: absolute;
  margin-left: 5px;
  display: flex;
  align-items: center;
  z-index: 100;
  font-size: 20px !important;
  color: grey;
  padding-top: px;
  margin-top: 9px;
}

.addon-navbar {
  position: absolute;
  margin-left: 5px;
  display: flex;
  align-items: center;
  z-index: 100;
  font-size: 20px !important;
  color: grey;
  padding-top: px;
  margin-top: 9px;
}

/*Custom Stat Block*/

.center-input {
  width: 80%;
  margin: 0 auto;
}
.stat-custom-panel {
  padding: 10px;
}

.stat-custom-panel span {
  font-size: 15px;
}

.statMedias {
  text-align: center;
  float: left;
  width: 100%;
}

.thumbnail-stat-medias {
  padding: 0px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-body{
  padding: 5px 5px 5px 5px;
}




.stat-object a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* END Stat Block */

/* Latest observations */

#DernieresObservations {
  clear: both;
}

#map {
  width: 100%;
  height: 600px;
}

@media (min-width: 992px) {
  #blocMap {
    padding-right: 0px;
  }
}

.top-species-taxon-list {
  max-height: fit-content;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 992px) {
  #listMap {
    padding-left: 0px;
  }
}



.pictoImgSmall {
  height: 60px;
}



#lastObsList {
  display: block;
  max-height: 600px;
  overflow-y: scroll;
  background: white;
}

.lastObslistItem:hover {
  background-color: #a8a2a26b;
  cursor: pointer;
}


.lastObsImg {
  width: 80px;
  background-color: var(--light);
  flex-shrink: 0; /* IMPORTANT → évite que le flex les écrase */
}

.lastObsImg.has-media-True {
  height: 80px;
  object-fit: cover;
}

.lastObslistItem.current {
  background-color: #e6e6e6;
  font-weight: bold;
}

/*.singleTaxon {
  cursor: pointer;
}*/

.tabEspece:hover {
  background-color: rgba(var(--main-color-rgb), 0.2);
}

.tabEspece.current {
  background-color: rgba(var(--main-color-rgb), 0.4);
  font-weight: bold;
}

td.singleTaxon.name {
  width: 50%;
}

td.singleTaxon.img {
  width: 15%;
  text-align: center;
}

td.singleTaxon.date {
  width: 30%;
}

td.singleTaxon.detail {
  width: 1%;
}

.singleTaxon .glyphicon {
  color: #333333;
  font-size: 1.5em;
}

/* END Latest observations */

/*// BLOCK actual species */

#mostViewNow {
  clear: both;
}

.default-logo {
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

.thumbnail-row {
  margin: 0px;
  margin-top: 10px;
}

.higlight {
  font-size: 20px;
}

.helpTip {
  color: #333333;
  font-size: 16px;
  top: -5px;
  left: 3px;
}

.rank-stat-medias-cover {
  height: 200px;
}
