.card.container {
    align-items: center;
    padding: 1rem;
    max-width: 100%;
    &.stat_card {
        align-items: center;
    }
    &.info_card {
        align-items: self-start;
    }
    .tab-content {
        padding: 1rem;
        width: 100%;

        #observations_and_species.active {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        #data_sources.active {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}


img.patrimonial_img {
    width: 1rem;
}

.info_zone_card {
    width: 100%;
    justify-items: center;
    padding: 1rem;

}
.specie_list_map_block {
    min-height: 50%;
}

.specie_list_map_block {
    display: flex;
    height: 100%;
}

.stats_block {
    display: flex;
    flex-direction: column;
    height: 100%;
}
