{% extends "templates/core/layout.html" %}

{% block title %}
    {# Personnalisez ici le titre de la page (celui qui est affiché dans l'onglet du navigateur) #}
    {{ _('gallery.title') }}
{% endblock %}

{% block metaTags %}
    {# Ajoutez ici les balises méta utilisées pour le SEO #}
{% endblock %}

{% block additionalHeaderAssets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/lightbox2/dist/css/lightbox.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/galleryPhoto.css') }}"/>
    {# Ajoutez ici les assets complémentaires qui seront dans le bloc <head></head> #}
{% endblock %}


{% block additionalFooterAssets %}
    {# Ajoutez ici les assets complémentaires qui seront en bas de page #}
    <script type="text/javascript">
        var configuration = {{ configuration|tojson }};
    </script>

    <script src="{{ url_for('static', filename='node_modules/lightbox2/dist/js/lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='galleryPhoto.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}


{% block content %}

    <div class="row h-100 flex-grow-1 p-0 m-0 border-bottom">
        <div class="col d-flex flex-column m-0 p-0">
            <div class="bg-light text-center border-bottom border-end p-2">
                <h1 class="title">{{ _('gallery.title') }}<span id="group"></span></h1>
                <div id="filtresPhotos" class="text-center">
                    <ul id="pictoAndSort" class="d-flex flex-wrap list-unstyled justify-content-center gap-2">
                            {% for group in groups %}
                                <li>
                                    <img class="INPNgroup"
                                         src="{{ url_for('static', filename='images/picto_' + group.group | replace(" ", "_") + '.png') }}"
                                         alt="{{ group.groupAccent }}"
                                         data-bs-toggle="tooltip"
                                         title="{{ group.groupAccent }}"
                                         data-bs-placement="top">
                                </li>
                            {% endfor %}

                            <li>
                                <a id="allGroups" class="btn btn-secondary"
                                   role="button"
                                   data-bs-toggle="tooltip"
                                   title="{{ _('all.groups') }}"
                                   data-bs-placement="top">
                                    {{ _('all.groups') }}
                                </a>
                            </li>
                            <li>
                                <span id="orderPhotos" class="sortedButton">
                                    <span id="order-sort"
                                          data-bs-toggle="tooltip"
                                          title="{{ _('order.photos') }}"
                                          data-bs-placement="top">
                                        <span id="order-picto" class="fas fa-sort"></span>
                                    </span>
                                </span>
                            </li>

                    </ul>
                    <div class="d-flex justify-content-center mt-3">
                        <input type="text" class="form-control" id="searchPhotos"
                                placeholder="{{ _('search.species') }}"
                                value="">
                    </div>
                </div>
                <h3 id="nbPhotos"></h3>
            </div>

            <div id="insertPhotos" class="d-flex flex-wrap bg-white flex-grow-1">
                {% include 'templates/core/loaderSpinner.html' %}
            </div>
        </div>
    </div>
{% endblock %}

