{% extends "templates/core/layout.html" %}

{% block title %}
    {# Personnalisez ici le titre de la page (celui qui est affiché dans l'onglet du navigateur) #}
    Test
{% endblock %}

{% block metaTags %}
    {# Ajoutez ici les balises méta utilisées pour le SEO #}
{% endblock %}

{% block additionalHeaderAssets %}
    {# Ajoutez ici les assets complémentaires qui seront dans le bloc <head></head> #}
{% endblock %}


{% block additionalFooterAssets %}
    {# Ajoutez ici les assets complémentaires qui seront en bas de page #}
{% endblock %}


{% block content %}
    {# Ajoutez ici coeur de la page #}
    <div class="bg-alert"><h1>test</h1></div>
{% endblock %}