<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Commune de {{referenciel.communeName}} | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type="text/javascript" src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Leaflet -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css') }}" />
        <script src="{{url_for('static', filename='lib/leaflet/leaflet.js') }}"></script>
        <script src="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.css') }}" />
        <script src="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.css') }}" />
		    <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leafletMarkerCluster.Default.css') }}" />

        <!-- DataTable -->
		    <link rel="stylesheet" href="{{url_for('static', filename='lib/datatables/datatables.min.css') }}"/>
        <script type="text/javascript" src="{{url_for('static', filename='lib/datatables/datatables.min.js') }}"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

       <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='css/listEspeces.css') }}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='css/icones.css') }}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}"/>


   </head>
   <body>
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">

            <div class="col-sm-7">
                 <div class="panel panel-default" id="parent">
					          <div class="row">
                        <h4><b>Commune de {{referenciel.communeName}}</b></h4>
                        <ul id="stat">
                            <li><span data-icon="&#xe037;" style="font-size: 30px;"></span><br/><b>{{listTaxons.nbObsTotal | pretty}}</b><br/>{{ 'observations' if listTaxons.nbObsTotal > 1 else 'observation' }}</li>
                            <li><span data-icon="&#xe03b;" style="font-size: 30px;"></span></br><b>{{listTaxons.taxons|length | pretty}}</b><br/>{{ 'espèces' if listTaxons.taxons|length > 1 else 'espèce' }}</li>
                            <li><span data-icon="&#xe040;" style="font-size: 30px;"></span></br><b>{{observers | length | pretty}}</b><br/>{{ 'observateurs' if observers|length > 1 else 'observateur' }}</li>
                        </ul>
                    </div>
                </div>

                <div class="row rowMargin" id="clear">
                        <div class="panel panel-default">
                            {% include 'templates/tabTaxons.html' %}
                        </div>
                </div>
            </div>

            <div class="col-sm-5" id="mapWrapper">
				<div  class="panel panel-default" id="mapContainer">
					<div class="row ">
						<img id ="loadingGif" src="">
						<div class="panel-heading"><strong>
							 <h4 id="titleMap"> {{configuration.NB_LAST_OBS}} dernières observations sur la commune de <i>{{referenciel.communeName}}</i></h4> </strong>
						</div>
						<div class="panel-body">
							 <div id="map"> </div>
						</div>
					</div>
				</div>
            </div>

        </div>

        {% if configuration.AFFICHAGE_FOOTER %}
            {% include 'static/custom/templates/footer.html' %}
        {% endif %}

        <script type="text/javascript">
            var communesSearch = {{communesSearch|tojson}};
            var configuration = {{configuration|tojson}};
            var observations = {{observations|tojson}};
            var communeGeoJson = {{referenciel.communeGeoJson|tojson}};
            var url_limit_territory = "{{url_for('static', filename='custom/territoire.json') }}";
            //calcul du nb de colonnes pour le fonctionnement de dataTables.js
            var nbColumn = 7;
            {% if configuration.PATRIMONIALITE %} nbColumn = nbColumn+1;{% endif %}
            {% if configuration.PROTECTION %} nbColumn = nbColumn+1;{% endif %}
            var noSordedColumns=[nbColumn-2,nbColumn-1]; //var for dataTables js lib
            var defaultSortedColumn=nbColumn-4; //var for dataTables js lib
        </script>
	  	<script src="{{url_for('static', filename='custom/maps-custom.js') }}"></script>
        <script src="{{url_for('static', filename='listeEspeces.js') }}"></script>
		<script src="{{url_for('static', filename='mapGenerator.js') }}"></script>
        <script src="{{url_for('static', filename='mapCommune.js') }}"></script>
        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body>
</html>

