<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>{{referenciel.lb_nom}} ({{referenciel.nom_rang}}) | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

        <!-- Jquery -->
        <script type="text/javascript" src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		    <script type="text/javascript" src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='lib/jquery.lazy/jquery.lazy.min.js') }}"></script>
		    <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- DataTable -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/datatables/datatables.min.css') }}"/>
        <script type="text/javascript" src="{{url_for('static', filename='lib/datatables/datatables.min.js') }}"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap-switch/css/bootstrap-switch.min.css') }}"></link>
        <script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" />
        <script src="{{url_for('static', filename='lib/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>

        <!-- CSS Application -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/listEspeces.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/icones.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>

   <body>
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">

        <div class="col-sm-12">
            <div class="panel panel-default" id="parent">
				<div class="row rowMargin">
                    <h4> <b> Espèces observées pour le taxon <i>{{referenciel.lb_nom}}</i> ({{referenciel.nom_rang}}) </b> </h4>

                    <div id="hierarchy">
                    {% for taxon in taxonomyHierarchy %}
                        {{taxon.nom_rang}} :
                        <i>
                        {% if ( taxon.tri_rang >= configuration.LIMIT_FICHE_LISTE_HIERARCHY) %}
                             <a href = "{{url_for('main.ficheEspece', cd_ref = taxon.cd_ref) }}">{{taxon.lb_nom}}</a>
                        {% else %}
                             <a href = "{{url_for('main.ficheRangTaxonomie', cd_ref = taxon.cd_ref) }}">{{taxon.lb_nom}}</a>

                        {% endif %}
                        </i>
                        {% if not loop.last %}
                             <span class="glyphicon glyphicon-chevron-right"> </span>
                        {% endif %}

                    {% endfor %}
                    </div>
                     <ul id="statHierarchy">
                        <li><span data-icon="&#xe037;" style="font-size: 30px;"></span><br/><b>{{listTaxons.nbObsTotal}}</b><br/>{{ 'observations' if listTaxons.nbObsTotal > 1 else 'observation' }}</li>
                        <li><span data-icon="&#xe03b;" style="font-size: 30px;"></span><br/><b>{{listTaxons.taxons|length}}</b><br/>{{ 'espèces' if listTaxons.taxons|length > 1 else 'espèce' }}</li>
                        <li><span data-icon="&#xe040;" style="font-size: 30px;"></span><br/><b>{{observers | length}}</b><br/>{{ 'observateurs' if observers|length > 1 else 'observateur' }}</li>
                    </ul>
                </div>
            </div>


            <div class="panel panel-default">
				<div class="row rowMargin" id="clear">
                    {% include 'templates/tabTaxons.html' %}
                </div>
            </div>
        </div>

    </div>

    {% if configuration.AFFICHAGE_FOOTER %}
        {% include 'static/custom/templates/footer.html' %}
    {% endif %}

        <script type="text/javascript">
            var configuration = {{configuration|tojson}};
            //calcul du nb de colonnes pour le fonctionnement de dataTables.js
            var nbColumn = 6;
            {% if configuration.PATRIMONIALITE %} nbColumn = nbColumn+1;{% endif %}
            {% if configuration.PROTECTION %} nbColumn = nbColumn+1;{% endif %}
            var noSordedColumns=[nbColumn-1]; //var for dataTables js lib
            var defaultSortedColumn=nbColumn-3; //var for dataTables js lib
        </script>
        <script src="{{url_for('static', filename='listeEspeces.js') }}"></script>
        <script src="{{url_for('static', filename='main.js') }}"></script>

  </body>


</html>
