<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Espèce</title>
    </head>

    <body>
        {% include 'navbar.html' %}

        <h3> La fiche espece du: {{taxon.nom_francais}}, {{taxon.nom_latin }} </h3>

        <p> {{taxon.group1_inpn}} {{taxon.regne}} </p>
        

   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </body>
</html>
