<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{taxon.lb_nom}}</title>

        <!-- Jquery -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/jquery-ui.css') }}" />
        <script type=text/javascript src="{{url_for('static', filename='/lib/jquery-1.12.4.min.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>

        <!-- Bootrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/bootstrap-switch/css/bootstrap-switch.min.css') }}"></link>

        <link rel="stylesheet" href="{{url_for('static', filename='/lib/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" />
        <script src="{{url_for('static', filename='/lib/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>


        <script type=text/javascript src="{{url_for('static', filename='/lib/bootstrap-switch/js/bootstrap-switch.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/bootstrap-switch/css/bootstrap-switch.min.css') }}" />


        <!-- Leaflet -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/leaflet/leaflet.css') }}" />
        <script src="{{url_for('static', filename='/lib/leaflet/leaflet.js') }}"></script>
        <script src="{{url_for('static', filename='/lib/leaflet/leafletMarkerCluster.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/leaflet/leafletMarkerCluster.css') }}" />
        <script src="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.css') }}" />




        <!-- D3 -->
        <script src="{{url_for('static', filename='/lib/d3/d3.min.js') }}"></script>

        <!-- MorrisJs -->
        <script src="{{url_for('static', filename='lib/morrisJs/morris.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/morrisJs/morris.css') }}" />
        <!-- RaphaelJs -->
        <script src="{{url_for('static', filename='lib/raphaelJs/raphael.min.js') }}"></script>

        <link rel="stylesheet" href="{{url_for('static', filename='/css/ficheEspece.css') }}" />

    </head>

    <body>
    {% include 'navbar.html' %}


    <div id ="page" class="container-fluid">
        <div class='row' id="presentationEspece">
                <div class="col-sm-2" > 
                    <img src="{{url_for('static', filename='/images/pne.jpg') }}" style="width:200px;height:200px;">
                </div>
                <div class="col-sm-3" > 
                    <h3> {{taxon.lb_nom}} </h3>
                    <p> <i> {{taxon.nom_vern}} </i> <br/>
                    Nombre d'observation(s) sur le parc: <i> {{observations.features|length}} </i> </br>

                    <a href='https://inpn.mnhn.fr/espece/cd_nom/{{taxon.cd_nom}}' target="_blank">Fiche INPN</a>
                </div>
       </div>


        <div id="mapRow" class="row">
            <div id='mapContainer' class="row col-sm-7">
                <div id="map"> </div>
            </div>
            <div id="graphContainer" class="row col-sm-4">
                <h3 class="text-primary text-center"> Observations par classes d'altitudes </h3>
                <div id="altiChart" style="height: 200px;"></div>
          </div>

        </div>

        <div id="mapOptions" class="row">

            <div class="col-sm-5" > <p> <span id="yearMin"> </span> <input id="slider" type="text" class="span2"/> <span id="yearMax">  </span>  </p>
                <p id="nbObs"> Nombre d'observation(s): {{observations.features|length}}</p>
             </div>
            <div class="col-sm-2" > <input type="checkbox" name="my-checkbox" id="checkbox" checked  data-on-text="Cluster"data-off-text="Point" data-size="mini" size="35"> </div>


        </div>



       
    </div>


    
    <script type="text/javascript" src="/atlas/static/conf/calculCustom.js"></script>

    <script type="text/javascript" src="/atlas/static/conf/custom.js"></script>

    <script> var dataset = {{altitudes|tojson}}; </script>  
    <script type="text/javascript" src="/atlas/static/chart.js"></script>


    <script src="{{url_for('static', filename='map.js') }}"></script>
    <script src="{{url_for('static', filename='main.js') }}"></script>



<!--  Lancement des fonction JS necessitant la syntaxe Jinja-->
    <script type="text/javascript">

// Set autocompletion

autocompleteTaxons({{listeTaxons|tojson }})



// get year min for each taxon
    Array.prototype.min = function() {
  return Math.min.apply(null, this);
    };


    var  test = {{observations.features|tojson}}
   tabYear = [] ;
   test.forEach(function(x){
    tabYear.push(x.properties.year);
   });

taxonYearMin = tabYear.min();


// Slider construction 

var mySlider = new Slider('#slider', {
  value: [taxonYearMin, $YEARMAX],
  min : taxonYearMin,
  max : $YEARMAX,
  step: $STEP,
/*  ticks: getLegend(taxonYearMin, $YEARMAX),
  ticks_labels: getStringLegend(getLegend(taxonYearMin, $YEARMAX)),*/
});


$("#yearMax").html("&nbsp;&nbsp;"+ $YEARMAX);
$("#yearMin").html(taxonYearMin + "&nbsp;&nbsp;");



// Display observations onload

displayMarkers({{observations|tojson}})


// Display observations with filter and cluster on each event
var yearMin = taxonYearMin;
var yearMax = $YEARMAX;


 // Slider event
mySlider.on("change",function(){
    years = mySlider.getValue();
    yearMin = years[0];
    yearMax = years[1];

    var currentMarker = (newMarkers == undefined) ? clusterMarkers: newMarkers;
    map.removeLayer(currentMarker);
    displayFilterMarkers({{observations|tojson}}, yearMin, yearMax, $("#checkbox").is(":checked"));


    $("#nbObs").html("Nombre d'observation(s): "+ filterGeoJson.features.length);

   });

// Cluster switch event
mySwitcher.on('switchChange.bootstrapSwitch', function(state) {
  
    currentMarker = (newMarkers == undefined) ? clusterMarkers:newMarkers;
    map.removeLayer(currentMarker);

    displayFilterMarkers({{observations|tojson}}, yearMin, yearMax, this.checked)

});



    </script>


    </body>
</html>