<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><!-- {{taxon.lb_nom}} --></title>

        <link rel="stylesheet" href="{{url_for('static', filename='/lib/leaflet/leaflet.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='/css/ficheEspece.css') }}" />
        <script src="{{url_for('static', filename='/lib/leaflet/leaflet.js') }}"></script>
    </head>

    <body>
    {% include 'navbar.html' %}


    <div id ="page" class="container-fluid">
        <div class='row' id="presentationEspece">
                <div class="col-sm-2" > 
                    <img src="{{url_for('static', filename='/images/pne.jpg') }}" style="width:200px;height:200px;">
                </div>
                <div class="col-sm-3" > 
<!--                     <h3> {{taxon.lb_nom}} </h3>
                    <p> <i> {{taxon.lb_nom}} </i> <br/>
                    <a href='https://inpn.mnhn.fr/espece/cd_nom/{{taxon.cd_nom}}'>Fiche INPN</a> -->
                </div>
       </div>
          
        <div id='mapContainer' class="col-sm-6">
            <div id="map"> </div>
        </div>

    </div>


    

    <script type="text/javascript" src="/atlas/static/conf/custom.js"></script>
    <script src="{{url_for('static', filename='map.js') }}"></script>
<!--  Lancement des fonction JS necessitant la syntaxe Jinja-->

    <script type="text/javascript">
/*        afficherObs({{obs|tojson}});
*/    </script>


    </body>
</html>
