<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Galerie photo | {{configuration.NOM_APPLICATION}}</title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>

        <!-- LightBox -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/lightbox2/css/lightbox.min.css') }}" />

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

   </head>
   <body>
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">
            <div class="col-sm-12">
				<div class="row rowMargin">
					<div class="panel panel-default" id="filtresPhotos">
						<h1>Galerie photos</h1>

						<p>
						{% for group in groups %}

							<img class="INPNgroup" src="{{url_for('static', filename='images/picto_' + group.group +'.png')}}" alt="{{group.groupAccent}}" title="{{group.groupAccent}}">
						{% endfor %}
						<a id="allGroups" class="btn btn-default" role="button">Tous les groupes</a>
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-12" id="insertPhotos">

			</div>
			
			{% if configuration.AFFICHAGE_FOOTER %}
                {% include 'static/custom/templates/footer.html' %}
            {% endif %}
         </div>
        
      


        <script type="text/javascript">
        var communesSearch = {{communesSearch|tojson}},
            configuration = {{configuration|tojson}};
         </script>


        <script src="{{url_for('static', filename='galleryPhoto.js') }}"></script>
        <script src="{{url_for('static', filename='main.js') }}"></script>



        <script  src="{{url_for('static', filename='lib/lightbox2/js/lightbox.min.js') }}" ></script>

   </body> 
</html>
