<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Accueil</title>

        <!-- Bootrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/bootstrap/css/bootstrap.min.css') }}"></link>

        <!-- Jquery -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />


    </head>

    <body>

        {% include 'navbar.html' %}

   <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
   <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
   <script type="text/javascript">
          var listeTaxons = {{listeTaxons|tojson }} </script>
   <script src="{{url_for('static', filename='main.js') }}"></script>



    </body>
</html>
