<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Atlas faune et flore</title>

        <!-- Bootrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='/lib/jquery-1.12.4.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />
		
		<!-- Leaflet -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/leaflet/leaflet.css') }}" />
        <script src="{{url_for('static', filename='/lib/leaflet/leaflet.js') }}"></script>
        <script src="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet-fullscreen/leafletFullScreen.css') }}" />

        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}" />
				
    </head>

    <body>

        {% include 'navbar.html' %}

		<div class="container-fluid">
			
			<!-- Introduction -->
			<div class="col-sm-5"> 
				<h1>
					Bienvenue sur l'atlas de la faune et de la flore du Parc national des Ecrins
				</h1>
				<p>
					Il permet de consulter des fiches sur l'ensemble des espèces observées par les agents du parc national depuis sa création en 1973.
				</p>
				<p>
					Celles-ci se basent sur les observations réalisées en temps réel par les agents et présente une vue d'ensemble des espèces observées mais en aucun cas un inventaire exhaustif des espèces du territoire.
				</p>
				
			</div>
			
			<!-- PHOTO (aléatoire ?) -->
			<div class="col-sm-7"> 
				<a href="espece/247044">
					<img src="/atlas/static/images/247044-home.jpg" width="100%">
				</a>
			</div>
			
			<div class="col-sm-12" style="height:20px"></div>
			
			<!-- Dernières espèces observées -->
			<div class="col-sm-12"> 
					  <!-- CARTO des 100 dernières observations -->
					  <div class="panel panel-default">
					  	<div class="row" id="mapRow">
							 <div class="col-sm-8">
								<div id="map"> </div>
							 </div>
							 <div id="listMap" class = "col-sm-4"> 
							 	<h5> <b> Les {{configuration.NB_LAST_OBS}} dernières observations </b> </h5>
								<table id='tableEspece' class="table table-striped">
									
									<tbody>
										{% for obs in observations %}
										<tr class='tabEspece'>
											{% if obs.urlImage == None %}
											<td class="singleTaxon img"> <img width="80%" src= "/atlas/static/images/picto_{{obs.group2_inpn|urlencode}}.png"> </td>
											{% else %}
											<td class="singleTaxon img"> <img width="15px" height="15px" src="{{configuration.URL_PHOTO}}{{obs.url}}"> </td>
											{% endif %}
											<td class="singleTaxon name" idSynthese = "{{obs.id_synthese}}" cdref="{{obs.cd_ref}}" > {{obs.taxon}}</td>
											<td class="singleTaxon" idSynthese = "{{obs.id_synthese}}"> {{obs.dateobs}} </td>
											<td> <a href = "{{url_for('main.ficheEspece',cd_ref=obs.cd_ref)}}"> <img height="20" width="20" src ="{{url_for('static', filename='images/logo_files.png') }}" alt="Lien vers la fiche espèce" title="Lien vers la fiche espèce"> </a> </td> 
											<td class="hiddenTd" hidden ="true"> {{obs.cd_ref}} </td>
										</tr>
										{% endfor %}
									</tbody>
								</table>	
							 </div>
						</div>

					</div>
			</div>

			
						
			<!-- SAUT DE LIGNE -->
			<div class="col-sm-12" style="height:20px"></div>
			
			<!-- ESPECES PERIODE -->
			<div class="col-sm-12"> 
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Espèces les plus observées à cette période</strong></div>
					<div class="row" style="padding: 5px;">
					  <div class="col-xs-3 col-md-2">
						
						  	<div class="hovereffect">
							  	<img class="img-responsive" src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9837/015472.jpg" 
							  	alt="Petit apollon" title="Petit apollon">
							  	<div class="overlay">
							  		<a href="espece/716523" class="thumbnail"></a>
							  		<h2> Petit apollon </h2>
							  	</div>
					  		</div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/3780" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9590/056467_0.jpg" 
						  alt="Tichodrome échelette" title="Tichodrome échelette">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/124405" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9700/023256.jpg" 
						  alt="Rubanier à feuilles étroites" title="Rubanier à feuilles étroites">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/82542" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9703/023292.jpg" 
						  alt="Androsace de Vandelli" title ="Androsace de Vandelli">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/3507" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9588/059261.jpg" 
						  alt="Chevêchette d'Europe" title="Chevêchette d'Europe">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/4537" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9587/026683.jpg" 
						  alt="Niverolle alpine" title="Niverolle alpine">
						</a>
					  </div>
					  
					  <div class="col-xs-3 col-md-2">
						<a href="espece/96499" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9702/026551.jpg" 
						  alt="Epipogon sans feuilles" title="Epipogon sans feuilles">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/128084" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9695/035039.jpg" 
						  alt="Petite massette" title="Petite massette">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/12348" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9832/025930.jpg" 
						  alt="Rosalie des Alpes" title="Rosalie des Alpes">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/212" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9597/028888.jpg" 
						  alt="Sonneur à ventre jaune" title="Sonneur à ventre jaune">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/105042" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9658/021190.jpg" 
						  alt="Mélèze d'Europe" title="Mélèze d'Europe">
						</a>
					  </div>
					  <div class="col-xs-3 col-md-2">
						<a href="espece/159446" class="thumbnail">
						  <img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/squared/public/patrimoine/9839/014306.jpg" 
						  alt="Isabelle" title="Isabelle">
						</a>
					  </div>
					</div>
				</div>
			</div>
			
		</div>


	<!-- AJOUT CAMILLE -->	
	<script type="text/javascript" src="/atlas/static/conf/calculCustom.js"></script>
    <script type="text/javascript" src="/atlas/static/conf/custom.js"></script>
    	    <script type="text/javascript">
			  var listeTaxonsSearch = {{listeTaxonsSearch|tojson}} 
			  ,observations = {{observations|tojson}}
			  ,communesSearch = {{communesSearch|tojson}}
			  , configuration = {{configuration|tojson}},
			  url_limit_territory = "{{url_for('static', filename='territoire.json') }}";
        </script>
    <script src="{{url_for('static', filename='mapGenerator.js') }}"></script>
    <script src="{{url_for('static', filename='mapHome.js') }}"></script>
	<!-- FIN AJOUT CAMILLE -->		
		
	<!-- JQUERY APPELE 2 FOIS ? -->	
	
	    <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
	    <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>


	
		
	    <script src="{{url_for('static', filename='main.js') }}"></script>

<script> 

		</script>

    </body>
</html>