<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title></title>

        <!-- Jquery -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/jquery-ui.css') }}" />
        <script type=text/javascript src="{{url_for('static', filename='/lib/jquery-1.12.4.min.js') }}"></script>


        <!-- DataTable-->
        <script type=text/javascript src="{{url_for('static', filename='lib/dataTable/datatables.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/dataTable/jquery.dataTables.min.css') }}" />

        <!-- Bootrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <link rel="stylesheet" href="{{url_for('static', filename='/lib/bootstrap-switch/css/bootstrap-switch.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <link rel="stylesheet" href="{{url_for('static', filename='/css/ficheEspece.css') }}" />

        <link rel="stylesheet" href="{{url_for('static', filename='/lib/node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" />
        <script src="{{url_for('static', filename='/lib/node_modules/bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
       




   </head>

   <body>
    {% include 'navbar.html' %}

    {% if myType == 1  %}
    <h3> Liste des {{listTaxons|length}} espèces observées sur la commune de {{referenciel}} </h3>
   
    {% else %}
    <h3> Liste des {{listTaxons|length}} espèces observées pour le taxon <i>{{referenciel.lb_nom}}</i> ({{referenciel.nom_rang}}) </h3>
    {% endif %}
     <table id ="myTable">
        <thead>
            <tr>
                <th> </th>
                <th> Nom Scientifique <span class="glyphicon glyphicon-menu-down" </span></th>
                <th> Nom Vernaculaire <span class="glyphicon glyphicon-menu-down" </span></th>
                <th id="sorted"> Nombre d'observation(s) <span class="glyphicon glyphicon-menu-down" </span> </th>
                <th> Dernière observation <span class="glyphicon glyphicon-menu-down" </th>

            </tr>
        </thead>
        <tbody>
                {% for taxon in listTaxons %}
            <tr class='clickable'  onclick="document.location = '{{url_for('main.ficheEspece',cd_ref=taxon.cd_ref)}}'" </tr>
                <td> <img src= "/atlas/static/images/picto_{{taxon.group2_inpn|urlencode}}.png"> </td>
                <td> {{taxon.nom_complet_html|safe}} </td>
                <td> {{taxon.nom_vern}} </td>
                <td> {{taxon.nb_obs}} </td>
                <td> {{taxon.last_obs}} </td>
             </tr>
                {% endfor %}
        </tbody>
    </table>



        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>


        <script type="text/javascript">
        var communesSearch = {{communesSearch|tojson}},
            listeTaxonsSearch = {{listeTaxonsSearch|tojson}};

        </script>
        <script src="{{url_for('static', filename='listeEspeces.js') }}"></script>
        <script src="{{url_for('static', filename='main.js') }}"></script>


  </body>


</html>