<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation"> 
	<a class="navbar-brand" href="{{url_for('main.index') }}">
		<img class="logoStructure" src="{{url_for('static', filename='custom/images/logo-structure.png') }}" />
	</a>
	<a class="navbar-brand titreAppli" href="{{url_for('main.index') }}">{{configuration.NOM_APPLICATION}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="navbar-nav mr-auto">
			
		</div>
		<form class="form-inline my-2 my-lg-0">
			<form method="POST" action="" id='searchFormTaxons' role="search">
				<div class="form-group has-feedback">
					<input id="searchTaxons" type="text" class="form-control mr-sm-2 ajax-search"
						placeholder="Rechercher une espèce&nbsp;&nbsp;&nbsp;" loading="false" />
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
				<input id="hiddenInputTaxons" type="hidden" name="cd_ref" />
			</form>

			<form class="form-inline my-2 my-lg-0" method="POST" onsubmit="completeAction('#searchFormCommunes', hiddenInputCommunes)"
				id='searchFormCommunes' action="" role="search">
				<div class="form-group has-feedback">
					<input id="searchCommunes" type="text" class="form-control mr-sm-2 ajax-search"
						placeholder="Rechercher une commune">
					<span class="glyphicon glyphicon-search form-control-feedback"></span>
				</div>
				<input id="hiddenInputCommunes" type="hidden" name="insee">
			</form>
		</form>
	</div>
</nav>