
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/atlas">Atlas du {{configuration.STRUCTURE}}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
    <div class="raw-fluid"> 

        <div class="col-sm-2 col-md-2">

            <form method="POST" onsubmit="completeAction('#searchFormTaxons', hiddenInputTaxons)"  action=""  id='searchFormTaxons' class="navbar-form" role="search">

               <div class="form-group has-feedback">
                 <input id="searchTaxons" type="text" class="form-control"  placeholder="Rechercher une espèce &nbsp; &nbsp; &nbsp;" data-placement="left" data-toggle="tooltip" data-original-title="Rechercher une espèce par son nom latin ou son nom commun ">
                 <span class="glyphicon glyphicon-search form-control-feedback"></span>
               </div>
                 <input id="hiddenInputTaxons"  type="hidden" name="cd_ref">
            
            </form>
        </div>
        <div class="col-sm-2 col-md-2">


            <form method="POST" onsubmit="completeAction('#searchFormCommunes', hiddenInputCommunes)" id='searchFormCommunes' action=""  class="navbar-form" role="search">

               <div class="form-group has-feedback">
                 <input id="searchCommunes" type="text" class="form-control"  placeholder="Rechercher une commune;" >
                 <i class="glyphicon glyphicon-search form-control-feedback"></i>
               </div>
                 <input id="hiddenInputCommunes"  type="hidden" name="insee">
            
            </form>
       </div>

    </div>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#">A propos</a></li>
    </ul>
  </div>

  </div>
</nav>