		<ul id="sidebar_menu" class="sidebar-nav">
          <a href="{{url_for('main.index')}}" id="menu-toggle" data-toggle="tooltip" data-original-title="Retour à l'accueil" data-placement="right">
            <li class="sidebar-brand"><span id="main_icon" class="glyphicon glyphicon-home"></span></li>
          </a>
          <a href="{{url_for('main.presentation')}}" data-toggle="tooltip" data-original-title="Présentation de l'atlas" data-placement="right">
            <li><span class="glyphicon glyphicon-book"></span><br/>L'atlas</li>
          </a>
          <a href="{{url_for('main.photos')}}" data-toggle="tooltip" data-original-title="Galerie photos" data-placement="right">
            <li><span class="glyphicon glyphicon-camera"></span><br/>Photos</li>
          </a>
          <a data-toggle="tooltip" data-original-title="Rechercher une espèce" data-placement="right">
            <li><span class="glyphicon glyphicon-search"></span></li>
          </a>
          <a  href="{{url_for('main.developpement')}}" data-toggle="tooltip" data-original-title="Liens et partenaires" data-placement="right">
            <li><span class="sub_icon glyphicon glyphicon-link"></span></li>
          </a>
        </ul>
