      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle"><span id="main_icon" class="glyphicon glyphicon-home" ></span></a></li>
          <li><a><span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a><span class="glyphicon glyphicon-search"></span></a></li>
          <li><a><span class="glyphicon glyphicon-camera"></span></a></li>
          <li><a><span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
