{% block blocInfos %}
    {% if configuration.GLOSSAIRE %}
        <!-- Jquery Glossarizer -->
        <script src="{{url_for('static', filename='node_modules/glossarizer/tooltip/tooltip.js') }}"></script>
        <script src="{{url_for('static', filename='node_modules/glossarizer/jquery.glossarize.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='node_modules/glossarizer/tooltip/tooltip.css') }}" />
    {% endif %}

    <div class="card mt-4" id="blocInfos">
        <h4 class="title-bar center">
            <strong>{{ _('species.infos') }}</strong>
        </h4>
        <ul class="nav nav-tabs">
            {% for desc in taxonDescription %}
                <li class="nav-item">
                    <a
                        class="nav-link {% if loop.index == 1 %}active{% endif %}"
                        data-toggle="tab"
                        href="#{{desc.code}}"
                    >
                        {{ _(desc.title) }}
                    </a>
                </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link {% if taxonDescription|length == 0 %}active{% endif %}" data-toggle="tab" href="#synonymes">
                    {{ _('synonyms') }}
                </a>
            </li>
        </ul>

        <div class="tab-content">
            {% for desc in taxonDescription %}
                <div
                    id="{{desc.code}}"
                    class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}"
                >
                {% if desc.value == None %}
                    {{ _('not.resigned.for.the.moment') }}
                {% else %}
                    {{ desc.value | safe }}
                {% endif %}
            </div>
            {% endfor %}
            <div
                id="synonymes"
                class="tab-pane fade {% if taxonDescription|length == 0 %}show active{% endif %}"
            >
                {% if synonyme | length == 1 %}
                    {{ _('no.synonym.for.this.taxon') }}
                {% else %}
                    {% for syn in synonyme %}
                        {% if not syn.lb_nom == taxon.taxonSearch.lb_nom %}
                            {{ syn.nom_complet_html | safe }}
                        {% endif %}
                        {% if ( (not loop.last) and (not syn.lb_nom == taxon.taxonSearch.lb_nom) ) %}
                            |
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
