{% block photoCarousel %}
    <div class="card mt-4">
        <div id="fixed" class="carousel slide" data-bs-ride="false">
            <!-- Indicators -->
            <div class="carousel-indicators">
                {% for i in range(photoCarousel|length) %}
                    <button type="button" data-bs-target="#fixed" data-bs-slide-to="{{ i }}" {% if loop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ i + 1 }}"></button>
                {% endfor %}
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for photo in photoCarousel %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}

                    {% if configuration.REDIMENSIONNEMENT_IMAGE %}
                        {% set img_path = configuration.TAXHUB_URL+'/api/tmedias/thumbnail/'+photo.id_media|string+'?h=500' %}
                    {% else %}
                        {% set img_path = photo.path %}
                    {% endif %}
                    <a href="{{ photo.path }}" data-lightbox="imageSet" data-title="{{ photo.title }}
                                    {% if photo.description %}
                                    - {{ photo.description }}
                                    {% endif %}
                                    &copy; {{ photo.author }}
                                    {% if photo.licence %}
                                    - {{ photo.licence }}
                                    {% endif %}
                                    {% if photo.source %}
                                    - {{ photo.source }}
                                    {% endif %}
                                    ">
                        <div class="slider-size" style="background-image: url({{ img_path }})"
                             alt="{{ photo.title }} &copy; {{ photo.author|striptags }}">
                            <div class="carousel-caption">
                                {{ photo.title|safe }} &copy; {{ photo.author|striptags }}
                                {% if photo.licence %}
                                    - {{ photo.licence }}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#fixed" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#fixed" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
{% endblock %}