{% block lastObs %}
<div id="DernieresObservations">
    <div class="card mt-4">
        <div class="card-body pb-0">
            <h3 class="card-title"><i class="fas fa-binoculars icon-color-title"></i>
                {{ configuration.TEXT_LAST_OBS }} {{ observations.features | length }}
                {{ 'observations' if observations | length > 1 else 'observation' }}
            </h3>
        </div>
        <div class="row" id="mapRow">
            <!-- CARTE des dernières observations -->
            <div id="blocMap" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div id="map"></div>
            </div>
            <!-- LISTE des dernières observations -->
            <div id="listMap" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <ul id='lastObsList' class="list-unstyled w-100 border-top">

                    {% for obs in observations.features %}
                    <li  class="lastObslistItem d-flex align-items-center border-bottom p-2" idObservation="{{ obs.properties.id_observation }}" area-code="{{ obs.id_maille }}">
                        <img loading="lazy" src="{{obs.properties.media}}" class="align-self-center lastObsImg">
                        <div class="flex-grow-1 d-flex justify-content-between align-items-center ms-3">
                            <div class="d-flex flex-column justify-content-center" style="flex: 1; overflow-wrap: break-word;">
                                <p class="singleTaxon name mb-0" cdref="{{ obs.properties.cd_ref }}">
                                    {{ obs.properties.taxon|safe }}<br />
                                    {{ obs.properties.dateobs }}
                                </p>
                            </div>
                            <a href="{{ url_for('main.ficheEspece', cd_nom=obs.properties.cd_ref) }}"
                               class="btn btn-sm btn-secondary ms-2" data-bs-toggle="tooltip" data-bs-placement="left"
                               title="Consulter la fiche espèce">
                                {{ _('species.sheet') }}
                            </a>
                        </div>

                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}