{% block mostViewNow %}
    <div class="card mt-4" id="mostViewNow">
        <div class="card-body">

            <h3 class="title-spaced">{{ _('see.at.the.moment') }}
                <span data-bs-toggle="tooltip"
                      title="{{ _('species.most.obs.last.15.days') }}"
                      data-bs-placement="right">
                    <a class="fa fa-question-circle helpTip"></a>
                </span>
            </h3>
            <div class="row">
                {% for tax in mostViewTaxon %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 no-padding">
                        <div class="hovereffect">
                            {% if tax.path == None %}
                                <img class="default-logo"
                                     src="{{ url_for('static', filename='images/picto_' + tax.group2_inpn | replace(" ", "_") +'.png') }}"
                                     alt="">
                            {% else %}
                                {% if configuration.REDIMENSIONNEMENT_IMAGE %}
                                    <div class="pictoImg pictoImgMedium"
                                         style="background-image:url({{ configuration.TAXHUB_URL }}/api/tmedias/thumbnail/{{ tax.id_media }}?h=500&w=500);"
                                         data-bs-toggle="tooltip" title="{{ tax.group2_inpn }}"
                                         data-bs-placement="left"></div>
                                {% else %}
                                    <div class="img-responsive-logo"
                                         style="background-image:url({{ tax.path }})"></div>
                                {% endif %}
                            {% endif %}
                            <div class="overlay">
                                <h2>{{ tax.taxonName|safe }}</h2>
                                <a class="info" href="{{ url_for('main.ficheEspece', cd_nom=tax.cd_ref) }}">{{ _('species.sheet') }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}