{% block territory_obs %}

    <div id="species_obs_territory">
        <div class="card mt-4">
            <div class="card-body pb-0">
                <h3 class="card-title">
                    <i class="fas fa-binoculars icon-color-title"></i>
                    {{ configuration.TEXT_SPECIES_OBS }} {{ nb_taxons.nb_taxons | pretty }}
                    {{ 'espèces' if nb_taxons.nb_taxons > 1 else 'espèce' }}
                </h3>
            </div>

            <div class="row" id="mapRow">
                <!-- CARTE des observations des espèces sur le territoire -->
                <div id="blocMap" class="col-12 col-lg-8 col-md-8">
                    {% include 'templates/core/loaderSpinner.html' %}
                    <div id="map"></div>
                </div>

                <div class="col-12 col-xl-4 col-lg-5 col-md-6 d-flex flex-column m-0 p-0">
                    {% with dispay_picto=False %}
                        {% include 'templates/core/listTaxons.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
